body {
  font-family: "anova-light", arial, helvetica, sans-serif;
  h2 {
    margin: 1rem;
    font-family: "anova-regular", arial, helvetica, sans-serif;
  }
  #menu-container {
    width: 48%;
    margin-right: 2%;
    float: left;
    ul {
      padding-left: 1rem;
      li {
        background-color: #fafafa;
        &:before {
          content: '';
          display: inline-block;
          transform: translateY(-40%) rotate(135deg);
          width: 8px;
          height: 8px;
          border: 2px solid #333333;
          border-radius: 0 1px 0 0;
          border-width: 3px 3px 0 0;
          position: inherit;
          transition: all 0.35s ease;
          display: inline-block;
          margin: 0 8px;
        }
        &:hover {
          background-color: #f4f4f4;
        }
        ul.children li:before {
          display: none;
        }
      }
      li.open {
        background-color: #fafafa;
      }
    }
  }
  #selected-container, #saved-tags {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  #selected-container {
    display: flex;
    align-items: center;
    div {
      padding: 5px;
    }
  }
  #selected-tag {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 6px 10px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    transition: all .35s;
    margin: 0.25em;
    &.tag-added {
      background-color: #3aaafc;
      color: white;
    }
  }
  #saved-tags ul {
    font-weight: normal;
    padding-left: 1.5em;
    li {
      display: inline-block;
      box-sizing: border-box;
      text-decoration: none;
      border: 2px solid transparent;
      padding: 6px 10px;
      text-align: center;
      font-size: 1rem;
      cursor: pointer;
      background-color: #0378cd;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 5px;
      transition: all .35s;
      margin: 0.25em;
      /* &:after {
        margin: 0.5em;
        content: 'x';
      } */
      &:hover {
        background-color: #00619d;
      }
    }
  }
}

ul {
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
}

li {
  margin: 4px 0;
  cursor: pointer;
}

.toggle::before {
  /* content: '▶'; */
  content: '';
  display: inline-block;
  margin-right: 5px;
  display: inline-block;
  transform: translateY(-40%) rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid #333333;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
  position: inherit;
  transition: all 0.35s ease;
  display: inline-block;
}

.open > .toggle::before {
  /* content: '▼'; */
  transform: rotate(315deg);
}

.children {
  display: none;
  margin-left: 1em;
}

.open > .children {
  display: block;
}

.item-name {
  display: inline-block;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 10px;
}

button {
  display: inline-block;
  background-color: #ff5000;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 6px 10px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  transition: all .35s;
  margin: 0.25em;
}

