.cards > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-gap: 16px;
  @media (width <= 600px) {
    display: block;
    > li {
      margin-bottom: 1.6rem !important;
    }
  }
}

.cards {
  &.header-purple {
    h1, h2, h3, h4, h5, h6 {
      color: var(--purple);
    }
  }
}

.cards > ul > li {
  border: 1px solid var(--grayRule);
  background-color: var(--background-color);
  border-radius: 5px;
  margin-bottom: 0 ;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  p {
    a {
      &:before {
        display: none !important;
      }
    }
  }
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards-gray {
  > ul {
    > li {
      background-color: #fafafa;
      border: 1px solid var(--grayRule);
    }
  }
}

.cards-1 {
  ul {
    li {
      width: 100% !important;
    }
    @media (width <= 600px) {
      > li {
        margin-bottom: 0 !important;
      }
    }
  }
  @media (width <= 900px) {
    margin-bottom: 3.2rem !important;
  }
}

.cards-2-col {
  > ul {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    position: relative;
    > li {
      border: 1px solid var(--grayRule);
      border-radius: 5px;
      width: 48.25%;
      min-height: 250px;
      display: flex;
      position: relative;
    }
  }
}
.cards-3-col {
  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    position: relative;
    justify-content: space-between;
    > li {
      border: 1px solid var(--grayRule);
      border-radius: 5px;
      width: 31.75%;
      min-height: 250px;
      display: flex;
      position: relative;
      margin-bottom: 2%;
    }
  }
}

.cards > ul > li img {
  width: 100%;
  /* aspect-ratio: 4 / 3; */
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.button-container {
  margin-bottom: 0;
}

.cards.card-5 > ul {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* .card-5 {
  ul {
    li {
      width: 20%;
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      flex-wrap: wrap;
      li {
        width: 100%;
      }
    }
  }
} */

.extra-space {
  &.cards > ul {
    display: block;
    /* grid-template-columns: auto; */
  }
  &.cards > ul > li {
    padding: 2rem;
    margin-bottom: 1.6rem;
    div.cards-card-body {
      margin: 1.6rem 0;
      p.button-container {
        &:has( + :is(p.button-container)) {
          margin: 0 !important;
        }
      }
      p.button-container + p.button-container {
        margin: 0 !important;
      }
    }
  }
  @media (width <= 900px) {
    &.cards > ul {
      display: block;
    }
  }
}

.data-viz-icon-cards {
  > ul {
    display: flex;
    gap: 32px;
    position: relative;
    > li {
      border: 1px solid var(--grayRule);
      background-color: #fafafa;
      border-radius: 5px;
      width: 50%;
      min-height: 250px;
      display: flex;
      position: relative;
    }
  }
  .cards-card-image {
    position: absolute;
    width: 20%;
    right: 24px;
    bottom: 0;
    picture {
      position: absolute;
      bottom: 24px;
    }
  }
  .cards-card-body {
    flex-direction: column;
    width: 100%;
    margin: 24px;
    /* justify-content: center; */
    justify-self: center;
    display: flex;
    p.button-container {
      margin: 1em 0;
    }
    ul {
      padding: 1rem 0 0 2rem;
    }
  }
  @media (width <=900px) {
    > ul {
      flex-direction: column;
      > li {
        width: 100%;
      }
    }
  }
}

.feature-cards {
  > ul {
    display: flex;
    gap: 32px;
    > li {
      border: 1px solid var(--grayRule);
      background-color: #fafafa;
      border-radius: 5px;
      width: 50%;
      height: 300px;
      display: flex;
    }
  }
  .cards-card-image {
    width: 40%;
    img {
      height: 100%;
      border-radius: 5px 0 0 5px;
    }
  }
  .cards-card-body {
    flex-direction: column;
    width: 60%;
    margin: 24px;
    justify-content: center;
    justify-self: center;
    display: flex;
    :is(h6):has(+ :is(h1, h2, h3, h4, h5)) {
      font-family: "anova-regular", sans-serif !important;
      color: var(--blue);
      text-transform: uppercase;
      font-size: 1.4rem;
      padding-bottom: .25rem;
      /* &:before {
        content: url('../../../icons/bubbles-orange.svg');
        display: inline-block;
        height: 16px;
        width: 12px;
        position: relative;
        left: 0;
        margin-bottom: 5px;
        vertical-align: middle;
        padding-right: 8px;
      } */
    }
    p.button-container {
      margin: 0;
    }
  }
  @media (width <=900px) {
    > ul {
      flex-direction: column;
      > li {
        width: 100%;
      }
    }
  }
}

.value-block-purple {
  position: relative;
  > ul {
    display: flex;
    > li {
      border: 0;
      background-color: var(--purple);
      width: 100%;
      display: flex;
      border-radius: 5px;
      min-height: 300px;
      flex-direction: row-reverse;
      .cards-card-image {
        width: 43%;
        max-height: 320px;
        picture {
          &:before {
            background-color: var(--purple);
            border-radius: 50%;
            content: '';
            position: absolute;
            right: 2em;
            bottom: 23%;
            width: 2em;
            height: 2em;
            z-index: 10;
          }
          &:after {
            background-color: var(--purple);
            border-radius: 50%;
            content: '';
            height: 4em;
            width: 4em;
            position: absolute;
            right: 3em;
            bottom: 6%;
            z-index: 9;
          }
        }
        img {
          height: 100%;
          border-radius: 0 5px 5px 0;
        }
      }
      .cards-card-body {
        flex-direction: column;
        width: 57%;
        max-height: 320px;
        justify-content: center;
        justify-self: center;
        display: flex;
        padding: 30px 40px;
        margin: 0;
        strong {
          color: #ffffff;
        }
        h2 {
          color: #ffffff;
          font-size: var(--heading-font-size-l);
        }
        p {
          color: #ffffff;
          font-size: 1.6rem;
          margin-bottom: 2rem;
          &:after {
            background-color: var(--purple);
            border-radius: 50%;
            content: '';
            height: 1.5em;
            position: absolute;
            left: 61%;
            bottom: 24%;
            width: 1.5em;
            z-index: 10;
          }
        }
        p.button-container {
          margin: 0;
          padding: auto !important;
          text-align: left;
          a {
            background-color: transparent;
          }
          a.button {
            background: rgba(0, 0, 0, 0.125) !important;
            border: 2px solid #ffffff !important;
            border-radius: 5px;
            box-sizing: content-box;
            transition-duration: 0.2s;
            transition-timing-function: ease;
            position: relative;
            z-index: 1;
            color: #ffffff !important;
            padding: 6px 12px !important;
            margin-bottom: 0 !important;
            min-width: 128px !important;
            line-height: 1.5;
            &:after {
              display: none;
            }
          }
          a.button:hover {
            color: #ffffff !important;
            background: rgba(0, 0, 0, 0.5) !important;
            border: 2px solid rgba(0, 0, 0, 0) !important;
          }
          &:after {
            background-color: var(--purple);
            border-radius: 50%;
            content: '';
            height: 3em;
            position: absolute;
            left: 63%;
            bottom: 11%;
            width: 3em;
            z-index: 10;
          }
        }
      }
      @media (width <=600px) {
        flex-direction: column;
        .cards-card-image {
          max-height: 350px;
          width: 100%;
          img {
            border-radius: 5px 5px 0 0
          };
          picture {
            &:before {
              right: 2%;
              bottom: 81%;
            }
            &:after {
              right: 3em;
              bottom: 56%;
            }
          }
        }
        .cards-card-body {
          width: auto;
          min-height: 250px;
          p {
            &:after {
              left: 61%;
              bottom: 64%;
            }
          }
          p.button-container {
            &:before {
              left: 78%;
              bottom: 68%;
            }
            &:after {
              left: 63%;
              bottom: 68%;
            }
          }
        }
      }
    }
  }
}

.value-block-blue {
  position: relative;
  > ul {
    display: flex;
    > li {
      border: 0;
      background-color: var(--blue);
      width: 100%;
      display: flex;
      border-radius: 5px;
      min-height: 300px;
      flex-direction: row-reverse;
      .cards-card-image {
        width: 43%;
        picture {
          &:before {
            background-color: var(--blue);
            border-radius: 50%;
            content: '';
            position: absolute;
            right: 2em;
            bottom: 23%;
            width: 2em;
            height: 2em;
            z-index: 10;
          }
          &:after {
            background-color: var(--blue);
            border-radius: 50%;
            content: '';
            height: 4em;
            width: 4em;
            position: absolute;
            right: 3em;
            bottom: 6%;
            z-index: 9;
          }
        }
        img {
          height: 100%;
          border-radius: 0 5px 5px 0;
        }
      }
      .cards-card-body {
        flex-direction: column;
        width: 57%;
        justify-content: center;
        justify-self: center;
        display: flex;
        padding: 30px 40px;
        margin: 0;
        h2 {
          color: #ffffff;
          font-size: 3.2rem;
        }
        p {
          color: #ffffff;
          font-size: 1.6rem;
          margin-bottom: 2rem;
          &:after {
            background-color: var(--blue);
            border-radius: 50%;
            content: '';
            height: 1.5em;
            position: absolute;
            left: 61%;
            bottom: 24%;
            width: 1.5em;
            z-index: 10;
          }
        }
        p.button-container {
          margin: 0;
          padding: auto !important;
          text-align: left;
          a {
            background-color: transparent;
          }
          a.button {
            background: rgba(0, 0, 0, 0.125) !important;
            border: 2px solid #ffffff !important;
            border-radius: 5px;
            box-sizing: content-box;
            transition-duration: 0.2s;
            transition-timing-function: ease;
            position: relative;
            z-index: 1;
            color: #ffffff !important;
            padding: 6px 12px !important;
            margin-bottom: 0 !important;
            min-width: 128px !important;
            line-height: 1.5;
            &:after {
              display: none;
            }
          }
          a.button:hover {
            color: #ffffff !important;
            background: rgba(0, 0, 0, 0.5) !important;
            border: 2px solid rgba(0, 0, 0, 0) !important;
          }
        }
        &:after {
          background-color: var(--blue);
          border-radius: 50%;
          content: '';
          height: 3em;
          position: absolute;
          left: 63%;
          bottom: 11%;
          width: 3em;
          z-index: 10;
        }
      }
      @media (width <=600px) {
        flex-direction: column;
        .cards-card-image {
          max-height: 350px;
          width: 100%;
          img {
            border-radius: 5px 5px 0 0
          };
          picture {
            &:before {
              right: 2%;
              bottom: 81%;
            }
            &:after {
              right: 3em;
              bottom: 56%;
            }
          }
        }
        .cards-card-body {
          width: auto;
          min-height: 250px;
          p {
            &:after {
              left: 61%;
              bottom: 64%;
            }
          }
          p.button-container {
            &:before {
              left: 78%;
              bottom: 68%;
            }
            &:after {
              left: 63%;
              bottom: 68%;
            }
          }
        }
      }
    }
  }
}

.hover-card {
  position: relative;
  ul {
    display: flex;
    li {
      width: 25%;
      border-radius: 5px;
      background-color: transparent;
      position: relative;
      overflow: hidden;
      transition: all 0.7s ease;
      border: 1px solid var(--grayRule);
      :after {
        /* content: url('../../../icons/arrow-icon-blue.svg'); */
        content: '';
        border: 3px solid var(--blue);
        border-width: 0 3px 3px 0;
        /* width: 12px; */
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        margin: 12px 12px 0 0;
        /* border-radius: 0 10px 0 50px; */
        /* z-index: -1; */
        transform: rotate(-45deg);
        /* background-color: #f4f4f4; */
        /* transition: transform 0.5s ease, color 0.5s ease; */
      }
      :before {
        content:'';
        width: 12px;
        height: 16px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 12px 20px 20px;
        border-radius: 0 10px 0 50px;
        z-index: -1;
        background-color: #f4f4f4;
        transition: transform 0.7s ease, color 0.5s ease;
      }
      .cards-card-body {
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        display: flex;
        padding: 20px;
        margin: 0;
        transition: all 0.7s ease;
        h4 {
          color: var(--blue);
          font-size: var(--heading-font-size-m);
          font-family: "anova-regular", sans-serif;
        }
        p {
          margin-bottom: 0 !important;
        }
      }
      .cards-card-body:nth-child(1) {
        padding: 0;
        a {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0;
        }
      }
    }
    li:hover {
      border: 1px solid var(--blue);
      &:hover {
        :before {
          transform: scale(35);
        }
      }
      &:before {
        opacity: 1 !important;
        margin-right: 26px;
        transform: scale(35);
      }
      &:after {
        opacity: 1 !important;
        margin-right: 8px;
      }
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.gray-hover-card {
  position: relative;
  &.purple-arrow {
    li:has(a) {
      :after {
        content: '';
        border: 3px solid var(--purple);
        border-width: 0 3px 3px 0;
      }
    }
  }
  ul {
    li {
      ul {
        li {
          width: 100%;
        }
      }
    }
    li:has(:not(a)) {
      .cards-card-body:nth-child(1) {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
        
      }
      &:hover {
        border: 1px solid var(--grayRule);
      }
    }
    li:has(a) {
      border-radius: 5px;
      background-color: transparent;
      position: relative;
      overflow: hidden;
      transition: all 0.7s ease;
      border: 1px solid var(--grayRule);
      :after {
        /* content: url('../../../icons/arrow-icon-blue.svg'); */
        content: '';
        border: 3px solid var(--blue);
        border-width: 0 3px 3px 0;
        /* width: 12px; */
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        margin: 12px 12px 0 0;
        /* border-radius: 0 10px 0 50px; */
        /* z-index: -1; */
        transform: rotate(-45deg);
        /* background-color: #f4f4f4; */
        /* transition: transform 0.5s ease, color 0.5s ease; */
      }
      :before {
        content:'';
        width: 12px;
        height: 16px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 12px 20px 20px;
        border-radius: 0 10px 0 50px;
        z-index: -1;
        background-color: #f4f4f4;
        transition: transform 0.7s ease, color 0.5s ease;
      }
      .cards-card-body {
        flex-direction: column;
        /* justify-content: center;
        justify-self: center; */
        display: flex;
        padding: 20px;
        margin: 0;
        transition: all 0.7s ease;
        h4 {
          color: var(--blue);
          font-size: var(--heading-font-size-m);
          font-family: "anova-regular", sans-serif;
        }
        /* p {
          margin-bottom: 0 !important;
        } */
      }
      .cards-card-body:nth-child(1) {
        padding: 0;
        a {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0;
        }
      }
      &:hover {
        border: 1px solid var(--blue) !important;
        &:hover {
          :before {
            transform: scale(40);
          }
        }
        &:before {
          opacity: 1 !important;
          margin-right: 26px;
          transform: scale(35);
        }
        &:after {
          opacity: 1 !important;
          margin-right: 8px;
        }
      }
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
  &.cards-1-col {
    li:has(a) {
      &:hover {
        &:hover {
          :before {
            transform: scale(60);
          }
        }
      }
    }
  }
}

.hover-card-2 {
  position: relative;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 48%;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.05);
      position: relative;
      overflow: hidden;
      transition: all 0.7s ease;
      border: none;
      :after {
        /* content: url('../../../icons/arrow-icon-blue.svg'); */
        content: '';
        border: 3px solid var(--white);
        border-width: 0 3px 3px 0;
        /* width: 12px; */
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        margin: 12px 12px 0 0;
        /* border-radius: 0 10px 0 50px; */
        /* z-index: -1; */
        transform: rotate(-45deg);
        /* background-color: #f4f4f4; */
        /* transition: transform 0.5s ease, color 0.5s ease; */
      }
      /* :before {
        content:'';
        width: 12px;
        height: 16px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 12px 20px 20px;
        border-radius: 0 10px 0 50px;
        z-index: 1;
        background-color: var(--purple);
        opacity: .01;
        transition: transform 0.7s ease, color 0.5s ease;
      } */
      .cards-card-body {
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        display: flex;
        padding: 20px;
        margin: 0;
        transition: all 0.7s ease;
        z-index: 100 !important;
        h2 {
          z-index: 100 !important;
          pointer-events: none;
        }
        p {
          margin-bottom: 0 !important;
          z-index: 100 !important;
          pointer-events: none;
          picture {
            img {
              height: 64px;
              width: 64px;
              object-fit: contain;
            }
          }
        }
      }
      .cards-card-body:nth-child(1) {
        padding: 0;
        a {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0;
          cursor: pointer;
          pointer-events: all;
        }
      }
    }
    li:hover {
      border: 0 solid var(--blue);
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 0;
      &:hover {
        :before {
          transform: scale(35);
        }
      }
      &:before {
        opacity: 1 !important;
        margin-right: 26px;
        transform: scale(35);
      }
      &:after {
        opacity: 1 !important;
        margin-right: 8px;
      }
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.hover-card-3 {
  position: relative;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 48%;
      border-radius: 5px;
      background-color: #fafafa;
      position: relative;
      overflow: hidden;
      transition: all 0.7s ease;
      border: 0 solid var(--grayRule);
      .cards-card-body {
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        display: flex;
        padding: 1rem 1rem 2.4rem 1rem;
        margin: 0;
        transition: all 0.7s ease;
        h4 {
          color: var(--blue);
          font-size: var(--heading-font-size-m);
          font-family: "anova-regular", sans-serif;
        }
        p {
          margin-bottom: 0 !important;
          picture {
            img {
              height: 112px;
              width: 112px;
              object-fit: contain;
            }
          }
        }
      }
      .cards-card-body:nth-child(1) {
        padding: 0;
        a {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0;
        }
      }
    }
    li:hover {
      background-color: #ffffff;
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.product-card {
  position: relative;
  ul {
    display: flex;
    li {
      width: 25%;
      border-radius: 5px;
      background-color: transparent;
      position: relative;
      overflow: hidden;
      transition: all 0.7s ease;
      border: 1px solid var(--grayRule);
      h4 {
        text-align: left !important;
      }
      &:after {
        /* content: url('../../../icons/arrow-icon-blue.svg'); */
        content: '';
        border: 3px solid #ffffff;
        border-width: 0 3px 3px 0;
        /* width: 12px; */
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 4px;
        margin-top: 9px;
        margin-right: 0;
        /* margin-left: -2px; */
        z-index: -1;
        transform: rotate(-45deg) skew(-6deg);
        opacity: 0;
        transition: all 0.5s ease;
        /* background-color: #f4f4f4; */
        /* transition: transform 0.5s ease, color 0.5s ease; */
      }
      &:before {
        content:'';
        width: 18px;
        height: 100%;
        display: inline-block;
        position: absolute;
        right: -40px;
        top: 0;
        padding-right: 9px;
        transform: skew(8deg);
        align-items: start;
        z-index: -1;
        background: linear-gradient(-45deg, var(--purple) 40%, var(--blue) 100%);
        transition: all 0.5s ease;
      }
      .cards-card-body {
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        display: flex;
        padding: 20px;
        margin: 0;
        transition: all 0.7s ease;
        h4 {
          color: var(--blue);
          font-size: var(--heading-font-size-m);
          font-family: "anova-regular", sans-serif;
        }
        p {
          margin-bottom: 0 !important;
        }
      }
      .cards-card-body:nth-child(1) {
        padding: 0;
        a {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0;
        }
      }
    }
    li:nth-child(2) {
      &:before {
        background: linear-gradient(-45deg, var(--purple) 40%, var(--red) 100%);
      }
    }
    li:nth-child(3) {
      &:before {
        background: linear-gradient(-45deg, var(--greenLight) 40%, var(--teal) 100%);
      }
    }
    li:nth-child(4) {
      &:before {
        background: linear-gradient(-45deg, var(--purple) 40%, var(--orange) 100%);
      }
    }
    li:hover {
      border: 1px solid var(--blue);
      &:before {
        opacity: 1 !important;
        margin-right: 26px;
      }
      &:after {
        opacity: 1 !important;
        margin-right: 8px;
      }
      &:nth-child(2):hover {
        border: 1px solid var(--red);
        .cards-card-body {
          h4 {
            color: var(--red) !important;
          }
        }
      }
      &:nth-child(3):hover {
        border: 1px solid var(--teal);
        .cards-card-body {
          h4 {
            color: var(--teal);
          }
        }
      }
      &:nth-child(4):hover {
        border: 1px solid var(--purple);
        .cards-card-body {
          h4 {
            color: var(--purple);
          }
        }
      }
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 48%;
        flex: 1 0 auto;
        margin-bottom: 0 !important;
        .cards-card-body {
          display: inline-block;
        }
      }
    }
    @media (width <=600px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 100%;
        flex: 1 0 auto;
      }
      li:hover {
        &:before {
          margin-right: 30px;
        }
        &:after {
          opacity: 1;
          margin-right: 8px;
        }
      }
    }
  }
}

.industries-hover-card {
  position: relative;
  > ul {
    display: flex;
    padding: 2rem 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    > li {
      width: 24%;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      min-height: 175px;
      .cards-card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease;
        object-fit: cover;
        p {
          display: contents;
        }
        picture {
          display: flex;
          height: 100%;
          width: 100%;
          img {
            /* width: 100%; */
            transition: all 0.5s ease;
            display: block;
            object-fit: cover;
            /* opacity: .2; */
          }
        }
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      .cards-card-body {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        justify-self: center;
        text-align: center;
        display: flex;
        padding: 0;
        margin: 0;
        h4 {
          color: var(--white);
          margin-bottom: 0;
          pointer-events: none;
          z-index: 1;
          font-size: var(--heading-font-size-s);
          font-family: "anova-regular", sans-serif;
        }
        p, h1,h2, h3, h4 , h5 , h6 {
          color: var(--white);
          z-index: 1;
        }
      }
      &:hover {
        div.cards-card-body  {
          h4 {
            text-decoration: underline solid 2px;
          }
        }
      }
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      > li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      > li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.image-hover-card {
  position: relative;
  > ul {
    display: flex;
    padding: 2rem 0;
    > li {
      width: 100%;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      min-height: 250px;
      background: linear-gradient(45deg, #007dc3 15%, #643695 95%);
      .cards-card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease;
        object-fit: cover;
        opacity: .3;
        p {
          display: contents;
        }
        picture {
          display: flex;
          height: 100%;
          width: 100%;
          img {
            /* width: 100%; */
            transition: all 0.5s ease;
            display: block;
            object-fit: cover;
            /* opacity: .2; */
          }
        }
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      .cards-card-body {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        justify-self: center;
        align-items: center;
        text-align: center;
        display: flex;
        padding: 0;
        margin: 0;
        h4 {
          color: var(--white);
          margin-bottom: 0;
          pointer-events: none;
          z-index: 1;
          font-size: var(--heading-font-size-s);
          font-family: "anova-regular", sans-serif;
          border-bottom: 2px solid #f5ba55;
          width: max-content;
          text-decoration: none;
        }
        p, h1,h2, h3, h4 , h5 , h6 {
          color: var(--white);
          pointer-events: none;
          z-index: 1;
        }
      }
      /* &:hover {
        div.cards-card-body  {
          h4 {
            text-decoration: underline solid 2px;
          }
        }
      } */
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      > li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      > li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.figure-callout {
  position: relative;
  &.rounded-10 {
    li {
      border-radius: 10px;
    }
  }
  &.rounded-20 {
    li {
      border-radius: 20px;
    }
  }
  &.block-padding-none {
    > ul {
      padding: 0 !important;
    }
  }
  &.padding-small {
    .cards-card-body {
      padding: 2rem !important;
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    > li {
      display: flex;
      width: 48%;
      flex-grow: 1 !important;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      background: linear-gradient(45deg, #007dc3 15%, #643695 95%);
      :after {
        content: '';
        border: 3px solid var(--white);
        border-width: 0 3px 3px 0;
        display: inline-block;
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 6px;
        margin: 12px 12px 0 0;
        transform: rotate(-45deg);
      }
      .cards-card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease;
        object-fit: cover;
        opacity: 1;
        mix-blend-mode: overlay;
        p {
          display: contents;
        }
        picture {
          display: flex;
          height: 100%;
          width: 100%;
          img {
            /* width: 100%; */
            transition: all 0.5s ease;
            display: block;
            object-fit: cover;
            /* opacity: .2; */
          }
        }
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      .cards-card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 2.4rem 2.4rem 1.6rem 2.4rem;
        margin: 0;
        width: 100%;
        picture {
          display: flex;
          height: 80px;
          width: auto;
          align-items: flex-start;
          object-fit: contain;
          img {
            align-self: flex-start;
            transition: all 0.5s ease;
            display: block;
            height: 80px;
            width: auto;
            object-fit: contain;
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
        strong {
          color: #ffffff;
        }
        h2 {
          font-size: var(--heading-font-size-xl);
        }
        p:last-child {
          flex-grow: 1;
        }
        p, h1,h2, h3, h4 , h5 , h6 {
          color: var(--white);
          pointer-events: none;
          z-index: 1;
        }
      }
      /* &:hover {
        div.cards-card-body  {
          h4 {
            text-decoration: underline solid 2px;
          }
        }
      } */
    }
    li:nth-child(2) {
      background: linear-gradient(45deg, #643695 15%, #9D57A3  95%) !important;
    }
    li:nth-child(3) {
      background: linear-gradient(45deg, #007481 15%, #643695  95%) !important;
    }
    li:nth-child(4) {
      background: linear-gradient(45deg, #007481 15%, #3EBDAC 95%) !important;
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      > li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      > li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.video-hover-card {
  position: relative;
  height: 100%;
  > ul {
    display: flex;
    padding: 0;
    height: 100%;
    > li {
      width: 100%;
      height: 300px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      min-height: 250px;
      background: linear-gradient(45deg, #007dc3 15%, #643695 95%);
      .cards-card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease;
        object-fit: cover;
        opacity: .3;
        p {
          display: contents;
        }
        picture {
          display: flex;
          height: 100%;
          width: 100%;
          img {
            /* width: 100%; */
            transition: all 0.5s ease;
            display: block;
            object-fit: cover;
            /* opacity: .2; */
          }
        }
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      .cards-card-body {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        justify-self: center;
        align-items: center;
        text-align: center;
        display: flex;
        padding: 0;
        margin: 0;
        h4 {
          color: var(--white);
          margin-bottom: 0;
          pointer-events: none;
          padding: 8rem 2rem 0 2rem;
          word-wrap: break-word !important;
          z-index: 1;
          font-size: var(--heading-font-size-s);
          font-family: "anova-regular", sans-serif;
          text-decoration: none;
          &:before {
            z-index: 5;
            margin: 0 auto;
            content: '';
            display: block;
            width: 4rem;
            height: 4rem;
            top: 40%;
            right: 50%;
            transform: translate(calc(-50% + 7rem), calc(-50%));
            text-align: end;
            color: #ffffff;
            line-height: 1.15;
            font-size: 4rem;
            position: absolute;
            padding: 10px;
            bottom: 2px;
            border-radius: 50%;
            border: 4px solid #ffffff;
          }
          &:after {
            z-index: 5;
            margin: 0 auto;
            content: '';
            display: block;
            position: absolute;
            box-sizing: border-box;
            border-style: solid;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-right: 0 solid transparent;
            border-left: 28px solid #ffffff;
            top: 40%;
            right: 50%;
            transform: translate(calc(-50% + 34px), calc(-50%));
            transition-duration: .5s;
            transition-timing-function: ease;
          }
        }
        p, h1,h2, h3, h4 , h5 , h6 {
          color: var(--white);
          pointer-events: none;
          z-index: 1;
        }
      }
      /* &:hover {
        div.cards-card-body  {
          h4 {
            text-decoration: underline solid 2px;
          }
        }
      } */
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      > li {
        width: 48%;
        flex: 1 0 auto;
        margin-bottom: 0 !important;
      }
    }
    @media (width <=600px) {
      > li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.g2-banner {
  ul {
    display: flex;
    li {
      background: linear-gradient(45deg, #643695 15%, #F04B4B 95%);
      border-radius: 10px;
      width: 100%;
      min-height: 200px;
      display: flex;
      position: relative;
      .cards-card-image:nth-child(1){
        position: absolute;
        max-width: 128px;
        right: 4rem;
        top: 0;
        z-index: 3;
        picture {
          img {
            height: 100%;
          }
        }
      }
      .cards-card-image:nth-child(2) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 0;
        picture {
          width: 100%;
          height: 100%;
          opacity: .2;
          img {
            height: 100%;
          }
        }
      }
      .cards-card-body {
        position: relative;
        flex-direction: column;
        width: 100%;
        margin: 2rem 2rem 2rem 4rem;
        justify-content: center;
        justify-self: center;
        display: flex;
        h2 {
          font-family: "anova-bold", sans-serif;
          color: white;
          margin-bottom: 1rem;
        }
        h4 {
          font-size: 2.4rem;
          color: rgba(255, 255, 255, 0.75);
          font-family: "anova-regular", sans-serif;
          margin-bottom: 2rem;
        }
        p.button-container {
          margin: 0;
          a {
            background-color: var(--redLight);
            &:hover {
              background-color: var(--red);
            }
          }
        }
        p {
          position: relative;
          overflow: hidden;
          picture {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 0;
          }
        }
      }
      @media (width <=900px) {
        .cards-card-image:nth-child(1){
          left: 4rem;
          picture {
            img {
              height: 100%;
            }
          }
        }
        .cards-card-body {
          margin-top: 170px;
        }
      }
    }
  }
  &.blue-purple {
    ul {
      li {
        background: linear-gradient(45deg, #0378CD 15%, #643695 95%);
        .cards-card-body {
          p.button-container {
            a {
              background-color: var(--orange);
            }
          }
        }
      }
    }
  }
}

.bullet-arrow {
  &.cards > ul {
    padding: 0;
    li {
      display: block;
      li {
        text-indent: -8px;
      } 
      li::marker {
        content: '';
      }
      li:before {
        content: url('../../../icons/arrow-orange.svg');
        width: 7px;
        display: inline-block;
        font-size: 80%;
      }
      :before {
        display: none;
      }
    }
  }
}

.opt-in {
  position: relative;
  &.purple-red {
    ul {
      /* background-color: #fafafa;
      z-index: -100 !important; */
      li {
        border-radius: 10px;
        .cards-card-body {
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          h5, h6, strong {
            color: var(--purple);
            margin-bottom: 0 !important;
            font-family: var(--font-secondary);
          }
        }
        :before {
          content:'';
          z-index: -100 !important;
          width: 12px;
          height: 16px;
          display: inline-block;
          position: absolute;
          right: -2px;
          top: 0;
          padding: 12px 12px 20px 20px;
          border-radius: 0 10px 0 50px;
          background-color: #f4f4f4;
          /* background: linear-gradient(45deg, #643695 40%, #F04B4B 100%) !important; */
          transition: transform 0.7s ease, color 0.5s ease;
        }
        :after {
          content: '';
          border: 3px solid var(--redLight);
          border-width: 0 3px 3px 0;
          z-index: 10;
        }
        &:hover {
          border: 1px solid var(--purple);
          &:hover {
            :before {
              transform: scale(45);
            }
          }
          &:before {
            opacity: 1 !important;
            margin-right: 26px;
            transform: scale(35);
          }
          &:after {
            opacity: 1 !important;
            margin-right: 8px;
          }
        }
      }
    }
  }
  ul {
    display: flex;
    justify-content: left;
    li {
      width: 480px;
      border-radius: 5px;
      background-color: transparent;
      position: relative;
      overflow: hidden;
      transition: all 0.7s ease;
      border: 1px solid var(--grayRule);
      :after {
        /* content: url('../../../icons/arrow-icon-blue.svg'); */
        content: '';
        border: 3px solid var(--green);
        border-width: 0 3px 3px 0;
        /* width: 12px; */
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px;
        margin: 12px 12px 0 0;
        /* border-radius: 0 10px 0 50px; */
        z-index: -1;
        transform: rotate(-45deg);
        background-color: #f4f4f4;
        transition: transform 0.5s ease, color 0.5s ease;
      }
      :before {
        content:'';
        width: 12px;
        height: 16px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 12px 20px 20px;
        border-radius: 0 10px 0 50px;
        z-index: -1 !important;
        background-color: #f4f4f4;
        transition: transform 0.7s ease, color 0.5s ease;
      }
      .cards-card-body {
        flex-direction: row;
        /* justify-content: center;
        justify-self: center; */
        align-items: center;
        display: flex;
        padding: 16px 24px 16px 16px;
        margin: 0;
        transition: all 0.7s ease;
        gap: 1.6rem;
        h4 {
          color: var(--blue);
          font-size: var(--heading-font-size-m);
          font-family: "anova-regular", sans-serif;
        }
        p {
          margin-bottom: 0 !important;
          picture {
            display: block;
            width: 64px;
          }
        }
      }
      .cards-card-body:nth-child(1) {
        padding: 0;
        a {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0;
        }
      }
    }
    li:hover {
      border: 1px solid var(--green);
      &:hover {
        :before {
          transform: scale(45);
          z-index: -1 !important;
        }
      }
      &:before {
        opacity: 1 !important;
        margin-right: 26px;
        transform: scale(35);
      }
      &:after {
        opacity: 1 !important;
        margin-right: 8px;
      }
    }
    @media (width <=900px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      flex-wrap: wrap;
      justify-content: stretch;
      li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}

.arrow-card {
  position: relative;
  &.rounded-10 {
    li {
      border-radius: 10px;
    }
  }
  &.rounded-20 {
    li {
      border-radius: 20px;
    }
  }
  &.block-padding-none {
    > ul {
      padding: 0 !important;
    }
  }
  &.padding-small {
    .cards-card-body {
      padding: 2rem !important;
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    > li {
      display: flex;
      width: 48%;
      flex-grow: 1 !important;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      background-color: var(gray);
      /* background: linear-gradient(45deg, #007dc3 15%, #643695 95%); */
      :after {
        content: '';
        border: 3px solid var(--white);
        border-width: 0 3px 3px 0;
        display: inline-block;
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 6px;
        margin: 12px 12px 0 0;
        transform: rotate(-45deg);
      }
      .cards-card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease;
        object-fit: cover;
        opacity: 1;
        /* mix-blend-mode: overlay; */
        p {
          display: contents;
        }
        picture {
          display: flex;
          height: 100%;
          width: 100%;
          img {
            /* width: 100%; */
            transition: all 0.5s ease;
            display: block;
            object-fit: cover;
            /* opacity: .2; */
          }
        }
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      .cards-card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 2.4rem 2.4rem 1.6rem 2.4rem;
        margin: 0;
        width: 100%;
        picture {
          display: flex;
          height: 80px;
          width: auto;
          align-items: flex-start;
          object-fit: contain;
          img {
            align-self: flex-start;
            transition: all 0.5s ease;
            display: block;
            height: 80px;
            width: auto;
            object-fit: contain;
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
        strong {
          color: #ffffff;
        }
        h2 {
          font-size: var(--heading-font-size-xl);
        }
        p:last-child {
          flex-grow: 1;
        }
        p, h1,h2, h3, h4 , h5 , h6 {
          color: var(--white);
          pointer-events: none;
          z-index: 1;
        }
      }
      /* &:hover {
        div.cards-card-body  {
          h4 {
            text-decoration: underline solid 2px;
          }
        }
      } */
    }
    /* li:nth-child(2) {
      background: linear-gradient(45deg, #643695 15%, #9D57A3  95%) !important;
    }
    li:nth-child(3) {
      background: linear-gradient(45deg, #007481 15%, #643695  95%) !important;
    }
    li:nth-child(4) {
      background: linear-gradient(45deg, #007481 15%, #3EBDAC 95%) !important;
    } */
    @media (width <=900px) {
      flex-wrap: wrap;
      > li {
        width: 48%;
        flex: 1 0 auto;
      }
    }
    @media (width <=600px) {
      > li {
        width: 100%;
        flex: 1 0 auto;
      }
    }
  }
}
