.accordion-two-column details {
  border: 1px solid var(--dark-color);
  border: none;
  border-top: 1px solid #c1c1c1;
}
/* stylelint-disable-next-line no-descending-specificity */
.accordion-two-column details + details {
  margin-top: 16px;
}
.accordion-two-column details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  @media (width <=900px) {
    padding-bottom: .5em;
  }
}
.accordion-two-column details[open] summary {
  background-color: var(--light-color);
}
.accordion-two-column details summary:focus, .accordion-two-column details summary:hover {
  background-color: var(--dark-color);
}
.accordion-two-column details summary::-webkit-details-marker {
  display: none;
}
.accordion-two-column details summary:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}
.accordion-two-column details[open] summary:after {
  transform: translateY(-50%) rotate(-45deg);
}
.accordion-two-column details .accordion-item-body {
  padding: 0 16px;
}
.accordion-two-column details[open] .accordion-item-body {
  border-top: 1px solid var(--dark-color);
  background-color: none;
}
.accordion-item-label {
  color: #007dc3;
}
/* .accordion-item-body {
  margin-bottom: 32px;
  p {
    clear: both;
  }
} */
.accordion-item-body.accordion-double {
  display: flex;
  flex-direction: row;
  gap: 2em;
  h5 {
    margin: 0 0 4px 0 !important;
  }
  h5 + p {
    margin: 0 0 16px 0 !important;
  }
  .accordion-col-1 {
    /* width: 50%; */
    padding-top: 1em;
    
  }
  .accordion-col-2 {
    /* width: 50%; */
    padding-top: 1em;
    p {
      font-size: var(--body-font-size-xs);
      margin-bottom: 0;
    }
  }
  @media (width <=900px) {
    flex-direction: column;
    gap: 0;
    .accordion-col-1, .accordion-col-2 {
      width: 100% !important;
      padding-top: 0;
    }
  }
}