/* hero columns quote - touch file */
.quote-wrapper{
  padding:32px;
  text-align: center;
  
    @media only screen and (max-width: 600px) {
    padding: 0px;
  }
}
.quote blockquote {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1100px;
  display: block;
}

.quote blockquote .quote-quotation {
  text-align: center;
  font-family: anova-light,Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-size: 2.4rem;
  color: #643695;
  margin: 20px;
  position: relative;
  padding: 0;
  line-height: 1.2em;
}

.quote blockquote .quote-quotation > :first-child {
  text-indent: -0.6ch;
}

.quote blockquote .quote-quotation > :first-child::before,
.quote blockquote .quote-quotation > :last-child::after {
  line-height: 0;
}

.quote blockquote .quote-quotation > :first-child::before {
  content: '\201C';
  font-family: Georgia, cursive;
  font-size: 800%;
  width: 1em;
  position: absolute;
  top: 0.275em;
  left: -0.475em;

  /* color: #f2f2f2; */
  color: black;
  z-index: -1;
}

*.quote blockquote .quote-quotation > :last-child::after {
  content: '\201D';
  font-family: Georgia, cursive;
  width: 0;
  height: 0;
  font-size: 800%;
  line-height: 0;
  display: inline-block;
  /* color: #f2f2f2; */
  position: absolute;
  bottom: -0.175em;
  right: 0.4em;
  z-index: -1;
}

.quote blockquote .quote-attribution {
  text-align: center;
  margin: 0;
  padding: 0 0 1em;
  line-height: 125%;
  font-size: 1.6rem;
  color: #333;
}

.quote blockquote .quote-attribution strong {
  font-family: anova-med,Arial,Helvetica,sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0 0 1em;
  line-height: 150%;
  font-size: 1.6rem;
  color: #333;
}


.quote blockquote .quote-attribution > :first-child::before {
  content: "";
}
