.columns > div {
  display: flex;
  flex-direction: column;
}

.columns50 {
  max-width: 1280px;
  margin: 0 auto 2em auto;
  text-align: left;
  div {
    padding: 1% .9%;
    align-items: center;
  }
}

.columns img {
  width: 100%;
}

.promo-col {
  background: #ececec;
  text-align: left;
  margin: 0 auto; 
  div {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em 0;
    p {
      font-size: .8em;
    }
  }
  h3 {
    text-align: center;
    margin: 0;
  }
}

.columns > div > div {
  order: 1;
}

.columns.shaded {
  background-color: #f1f1f1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.footer {
  color: white; 
  align-content: flex-start;
  padding: 0;
  margin: 20px 0;

  p {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    border-top: 1px solid #777777;
    display: block;
    padding-top: 1.2em;
    padding-bottom: 1em;
  }

  p:last-child {
    border-top: none;
    padding-top: 0;
    .icon {
      display: inline-block !important;
      margin-right: 4px;
      margin-bottom: 4px;

      img {
        width: 22px;
        height: 22px;
        filter: grayscale(100) brightness(2.1);
      }

      &:hover {
        filter: brightness(100);
        transition: .3s;
      }
    }
  }

  a {
    text-decoration: white;
    color: #c1c1c1;
    padding: 0 0 1em .25em;
    &:hover {
      color: #ffffff;
      transition: .3s;
    } 
  }

  ul {
    list-style-type: none;
    padding: 0 0 10px 0;
    margin: 0;
  }

  li {
    margin-left: 1em;
    text-indent: -1em;
  }

  li:before {
    color: #bbbbbb;
    font-family: 'sasicons-103018' !important;
    content: '';
    font-size: 70%;
    width: 1em;
    text-align: center;
    line-height: 1;
  }
}

.text-link .button-container {
  a:link, a:hover {
    border: none;
    color: #0378cd;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 5px 0;
    cursor: pointer;
    line-height: 2;
    padding: 0;
    position: relative;
    z-index: 1;
    text-align: left;
    background: none;
  }
  a:hover {
    color: black;
  }
  :after {
    color: #f47723; 
    content: " > ";
  }
}
/* hero columns quote */
.promo-col-colors {
  background: linear-gradient(45deg, #242d35 15%, #44545d 95%);
  margin: 0 auto;
  padding: 0 0 4em 0;
  h3, div {
    text-align: center;
    margin: .5em auto 0 auto;
    margin-bottom: -.5em;
    padding: 0 1em .5em;
    color: #ffffff;
    max-width: 1280px;
  }

  div:nth-child(1) {
    color: #f5ba55;
  }

  div > div:nth-child(2) {
    border: 1px solid #69757d;
    color: #3ebdac;
    border-top: none;
    border-bottom: none;
  }

  div > div:nth-child(3) {
    color: #c479ba;
  }
}

/* resource center columns*/
/* success story hero */
.section:has(div.success-story-hero) {
    background-color: #fafafa;
}

.success-story-hero {
  background-color: #fafafa;
  div {
    div:first-child {
      display: flex;
      flex-direction: column;
      align-self: center;
      h2 {
        padding: 0;
        margin: 0;
      }
      h6 {
        font-family: "anova-bold", sans-serif;
      }
      p {
        margin-bottom: .5rem;
      }
      img {
          max-width: 200px
      }
      @media (width <=899px) {
        h6 {
          padding-top: 20px;
        }
      }
    }
    > div.columns-img-col {
      display: flex;
      align-items: center;
      picture {
        vertical-align: middle;
        height: 400px;
        width: 100%;
        display: flex;
        img {
          display: block;
          object-fit: cover;
          border-radius: 5px;
          object-position: center;
        }
      }
    }
  }
}

/* whitepaper hero */
.section:has(div.whitepaper-hero) {
  background-color: #fafafa;
}
.whitepaper-hero {
  div {
    display: flex;
    div:first-child {
      display: flex;
      flex-direction: column;
      align-self: center;
      flex-grow: 2;
      h2 {
        padding: 0;
        margin: 0;
      }
      h6 {
        font-family: "anova-bold", sans-serif;
      }
      p {
        margin-bottom: .5rem;
      }
      img {
          max-width: 200px
      }
      @media (width <=899px) {
        h6 {
          padding-top: 20px;
        }
      }
      @media (width <=899px) {
        align-self: unset;
      }
    }
    > div.columns-img-col {
      display: flex;
      align-items: center;
      picture {
        vertical-align: middle;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img {
          display: block;
          object-fit: scale-down;
          border-radius: 5px;
          object-position: center;
          width: auto;
        }
      }
      @media (width <=899px) {
        picture {
          justify-content: flex-start;
        }
      }
    }
  }
}
  
.resource-form {
  display: inline-block;
  background-color: #fafafa;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  .hubspot-container {
    position: relative;
    display: inline-flex;
    .embed {
      margin: 0;
    }
    .hubspot-wrapper {
      background-color: #fafafa;
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #f4f4f4;
    }
  }
}

.resource-abstract {
  position: absolute;
  display: inline-block;
  width: 70%;
}
