.columns > div {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0em auto 2em auto;
  padding: 0px;
  text-align: left;

}
.columns50 {
  align-items: center;
  max-width: 1280px;
  margin: 0 auto 2em auto;
  text-align: left;
  img {
    border-radius: 5px;
  }
  div {
    padding: 1% .9%;
    align-items: center;
    @media only screen and (max-width: 600px) {
      padding: 3%;
    }
  }
}
.columns75 {
  max-width: 1280px;
  margin: 0 auto 2em auto;
  text-align: left;
  img {
    border-radius: 5px;
  }
  div {
    padding: 1% .9%;
    align-items: center;
    @media only screen and (max-width: 600px) {
      padding: 3%;
    }
  }
}
.columns img {
  width: 100%;
}
.columns > div > div {
  order: 1;
}
.columns.shaded {
  background-color: #f1f1f1;
}
.columns > div > .columns-img-col {
  order: 0;
}
.columns > div > .columns-img-col img {
  display: block;
}
@media (width >=900px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }
  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
.columns.footer {
  color: white;
  align-content: flex-start;
  padding: 0;
  margin: 20px 0;
  p {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    border-top: 1px solid #777777;
    display: block;
    padding-top: 1.2em;
    padding-bottom: 1em;
  }
  p:last-child {
    border-top: none;
    padding-top: 0;
    .icon {
      display: inline-block !important;
      margin-right: 4px;
      margin-bottom: 4px;
      img {
        width: 22px;
        height: 22px;
        filter: grayscale(100) brightness(2.1);
      }
      &:hover {
        filter: brightness(100);
        transition: .3s;
      }
    }
  }
  a {
    text-decoration: white;
    color: #c1c1c1;
    padding: 0 0 1em .25em;
    &:hover {
      color: #ffffff;
      transition: .3s;
    }
  }
  ul {
    list-style-type: none;
    padding: 0 0 10px 0;
    margin: 0;
  }
  li {
    margin-left: 1em;
    text-indent: -1em;
  }
  li:before {
    color: #bbbbbb;
    font-family: 'sasicons-103018' !important;
    content: '';
    font-size: 70%;
    width: 1em;
    text-align: center;
    line-height: 1;
  }
}


/* resource center columns */
/* success story hero */
.section:has(div.success-story-hero) {
    background-color: #f4f4f4;
}

.success-story-hero {
  background-color: #f4f4f4;
  div {
    div:first-child {
      display: flex;
      flex-direction: column;
      align-self: center;
      h1 {
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;
        border-bottom: 1px dotted #b4b4b4;
        border-width: 2px;
      }
      h6 {
        font-family: "anova-bold", sans-serif;
        padding-left: 10px;
        &:before {
					display: inline-block;
					background: var(--orange);
					border-radius: 50%;
					padding: 0;
					content: '';
					height: 12px;
					width: 12px;
					position: relative;
					left: -6px;
					top: 0;
				}
				&:after {
					display: block;
					background: var(--orange);
					border-radius: 50%;
					padding: 0;
					content: '';
					height: 6px;
					width: 6px;
					position: relative;
					left: 1px;
					top: -20px;
				}
      }
      p {
        margin: 1rem 0;
      }
      img {
          max-width: 200px
      }
      @media (width <=900px) {
        padding-top: 40px;
      }
    }
    > div.columns-img-col {
      display: flex;
      align-items: center;
      picture {
        vertical-align: middle;
        height: 400px;
        width: 100%;
        display: flex;
        img {
          display: block;
          object-fit: cover;
          border-radius: 5px;
          object-position: center;
        }
      }
    }
  }
  &:before {
    display: inline-block;
    background: #f4f4f4;
    border-radius: 50%;
    padding: 0;
    content: '';
    height: 250px;
    width: 250px;
    position: absolute;
    right: -100px;
    bottom: -50%;
    overflow: hidden;
    z-index: -1;
    @media (width <=900px) {
      background-color: #f4f4f4;
    }
  }
  &:after {
    display: inline-block;
    background: #f4f4f4;
    border-radius: 50%;
    padding: 0;
    content: '';
    height: 350px;
    width: 350px;
    position: absolute;
    right: 5%;
    bottom: -70%;
    overflow: hidden;
    z-index: -1;
  }
  @media (width <=900px) {
    &:before {
      display: none;
      /* background-color: #f4f4f4;
      z-index: 0;
      height: 30px;
      width: 30px;
      position: absolute;
      right: 0;
      bottom: -20%; */
    }
    &:after {
      display: none;
      /* background-color: #f4f4f4;
      z-index: 0;
      height: 70px;
      width: 70px;
      position: absolute;
      right: 5%;
      bottom: -25%; */
    }
  }
  /* H6 labels */
:is(h6):has(+ :is(h1, h2, h3, h4, h5)) {
  font-family: "anova-bold", sans-serif;
  color: var(--orange);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: .25rem;
}
}

/* video story hero */
.section:has(div.video-story-hero) {
  background-color: #f4f4f4;
}

.video-story-hero {
  background-color: #f4f4f4;
  div {
    div:first-child {
      display: flex;
      flex-direction: column;
      align-self: center;
      h1 {
        padding: 0;
        margin: 0;
      }
      h6 {
        font-family: "anova-bold", sans-serif;
        padding-left: 10px;
        &:before {
					display: inline-block;
					background: var(--orange);
					border-radius: 50%;
					padding: 0;
					content: '';
					height: 12px;
					width: 12px;
					position: relative;
					left: -6px;
					top: 0;
				}
				&:after {
					display: block;
					background: var(--orange);
					border-radius: 50%;
					padding: 0;
					content: '';
					height: 6px;
					width: 6px;
					position: relative;
					left: 1px;
					top: -20px;
				}
      }
      p {
        margin: 1rem 0;
      }
      img {
          max-width: 200px
      }
      @media (width <=899px) {
        order: 1;
        h6 {
          padding-top: 40px;
        }
      }
    }
    div.button-container {
      display: block;
      height: auto;
      width: 100%;
      align-items: center;
      @media (width <=899px) {
        width: 100%;
        margin: 0;
        order: 0;
      }
    }
  }
  /* H6 labels */
  :is(h6):has(+ :is(h1, h2, h3, h4, h5)) {
    font-family: "anova-bold", sans-serif;
    color: var(--orange);
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-bottom: .25rem;
  }
}

/* whitepaper hero */
.section:has(div.whitepaper-hero) {
  background-color: #f4f4f4;
}
.whitepaper-hero {
  div {
    display: flex;
    div:first-child {
      display: flex;
      flex-direction: column;
      align-self: center;
      flex-grow: 2;
      h1 {
        padding: 0;
        margin: 0;
      }
      h6 {
        font-family: "anova-bold", sans-serif;
        padding-left: 10px;
        &:before {
					display: inline-block;
					background: var(--orange);
					border-radius: 50%;
					padding: 0;
					content: '';
					height: 12px;
					width: 12px;
					position: relative;
					left: -6px;
					top: 0;
				}
				&:after {
					display: block;
					background: var(--orange);
					border-radius: 50%;
					padding: 0;
					content: '';
					height: 6px;
					width: 6px;
					position: relative;
					left: 1px;
					top: -20px;
				}
      }
      p {
        margin: 1rem 0;
      }
      img {
          max-width: 200px
      }
      @media (width <=899px) {
        padding-top: 40px;
      }
      @media (width <=899px) {
        align-self: unset;
      }
    }
    > div.columns-img-col {
      display: flex;
      align-items: center;
      picture {
        vertical-align: middle;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img {
          display: block;
          object-fit: scale-down;
          border-radius: 5px;
          object-position: center;
          width: auto;
        }
      }
      @media (width <=899px) {
        picture {
          justify-content: flex-start;
        }
      }
    }
  }
  /* H6 labels */
  :is(h6):has(+ :is(h1, h2, h3, h4, h5)) {
    font-family: "anova-bold", sans-serif;
    color: var(--orange);
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-bottom: .25rem;
  }
}
