.accordion-wrapper {
  .accordion {
    .accordion-item {
      border: none;
      border-top: 1px solid #c1c1c1;
      line-height: 1;
      + details {
        margin-top: 16px;
      }
      summary {
        color: var(--blue);
        width: calc(100% - 48px);
        position: relative;
        padding: 0 2rem 0 4.8rem;
        cursor: pointer;
        list-style: none;
        overflow: auto;
        transition: background-color 0.2s;
      }
      /* .accordion-item-label {
        :hover{
          color: var(--link-hover-color);
        }
      } */
    }
  }
}
.accordion details[open] summary {
  background-color: var(--light-color);
  h3, .accordion-item-label, strong {
    color: var(--blue) !important;
  }
}
.accordion details summary:hover {
  /* background-color: var(--gray); */
  h3, .accordion-item-label, strong, summary, p {
    color: var(--link-hover-color) !important;
  }
  &:before {
    background-color: var(--link-hover-color) !important;;
  }
}
.accordion details summary::-webkit-details-marker {
  display: none;
}
.accordion details summary:before {
  content: '';
  background-image: url('../../../icons/arrow-white.svg');
  background-color: #0378cd;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 54%;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  border-radius: 50%;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.5s ease, color 0.5s ease;
}
.accordion details[open] summary:before {
  transform: translateY(-50%) rotate(-90deg);
}
.accordion details .accordion-item-body {
  padding: 0 1.6rem 1.6rem 4.8rem;
  margin-bottom: 0;
}
.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--dark-color);
  background-color: none;
  p {
    clear: both;
  }
}
/* .accordion-container {
  background-color: #F8F6F4
} */
.accordion-item-label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  line-height: 1.5;
  
}
/* .accordion-item {
  color: var(--blue);
  cursor: pointer;
  display: inline-block;
  position: relative;
  line-height: 1.5;
  :hover{
    color: var(--purple);
  }
} */

.skp-blue-accordion {
  margin-bottom: 25px;
  border-left: 4px solid var(--blue);
  padding: 0;
  position: relative;
  background: rgba(0, 125, 195, 0.07);
  width: auto;
  box-sizing: border-box;
  h3 {
    font-size: 2.4rem;
  }
  &.accordion {
    .accordion-item {
      border-top: 0;
    }
  }
}
