@import url("../../../styles/styles.css");

/* Full Width */
main {
  p, li, ul {
    font-size: 19px;
    line-height: 1.5em;
    picture {
      img {
        padding: 1.6rem 0;
      }
    }
  }
  strong {
    color: unset !important;
  }
}
@media (width >= 900px) {
  .section > div {
    max-width: unset;
    margin: auto;
    padding: 0;
  }
  .layout-wrapper {
    gap: 6.4rem !important;
  }
}

@media (width >= 600px) {
  main .section {
    padding: 64px 5% 64px 5%;
  }
}

.default-content-wrapper{
  &:has(p, h1, h2, h3, h4, h5, h6){
    img{
    border: none;
    border-radius: 5px;
    }
  }
}

/* Font Styles */
h1 {
  color: #194573;
  font-family: "anova-bold", sans-serif !important;
  color: #194573;
  position: relative;
  padding: 0;
  line-height: 1em;
  margin-bottom: 3.2rem !important;
  &:before {
    content: "";
    display: block;
    width: 10%;
    position: absolute;
    left: calc(-10% - 24px);
    height: 100%;
    top: 0;
    background: #194573;
  }
  @media (width <= 600px) {
    &:before {
      left: calc(-10% - 8px);
    }
  }
}

:is(h1):has(+ :is(h2)) {
  margin: 0 0 3.2rem 0 !important;
}

h2 {
  font-size: var(--heading-font-size-l);
  font-family: "anova-bold", sans-serif !important;
  color: #007dc3;
  font-weight: var(--font-bold);
  line-height: 1.25em;
}
:is(h2) {
  &:has(+ :is(p)) {
    margin-bottom: 1.8rem !important;
  }
}
h3 {
  font-size: 2.2rem;
  font-family: "anova-regular", sans-serif !important;
  color: #007dc3;
  font-weight: var(--font-bold);
  line-height: 1.25em;
  margin-bottom: 1rem !important;
}
:is(h3) {
  &:has(+ :is(p)) {
    margin-bottom: 1.8rem !important;
  }
}
:is(p, ul):has(+ :is(h2, h3, h4)) {
  margin-bottom: 3.2rem !important;
}
:is(.default-content-wrapper):has(+ :is(.accordion-wrapper)) {
  margin-bottom: 3.2rem !important;
}
:is(div):has(+ :is(div.embed-wrapper)) {
  margin-bottom: 3.2rem !important;
}
/* :is(p):has(picture) {
  padding-bottom: 2.4rem !important;
} */

:is(.table-wrapper):has(+ :is(.default-content-wrapper)) {
  margin-bottom: 3.2rem !important;
}
:is(p):has(picture) {
  text-align: center;
}
span.mjx-chtml {
  font-size: 2.4rem;
}

/* Background Image */
main:before {
  content: '';
  background-image: url('../../../icons/skp-background-with-gradient.png');
  background-size: cover;
  position: absolute;
  z-index: -1;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 350px;
  mask-image: linear-gradient(to bottom, black 10%, transparent 100% );
  opacity: .8;
}

/* .section.background-img-container {
  .background-img-wrapper {
    .background-img {
      picture {
        img {
          height: unset !important;
          opacity: 0.7 !important;
        }
      }
    }
  }
} */

/* Nav Styles */
div.subnav.skpsubnav nav.main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
  a {
    font-size: 24px;
    width: 100%;
    text-align: left;
    color: #7c9db6;
    background: none;
    border: none;
    padding: 0;
    line-height: 1.25em;
    transition: .3s;
    font-family: "anova-regular", Arial, Helvetica, sans-serif;
  }
  >li {
    border: none;
    width: 100%;
    &:before {
      content: "";
      display: block;
      background-color: #7c9db6;
      width: 8px;
      height: 100%;
      position: absolute;
      left: -7px;
      top: 0;
      height: 0;
      transition: all .3s ease; 
    }
  }
}

div.subnav.skpsubnav nav.main ul li.is-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  ul.sub {
    display: none;
    position: relative;
    padding-left: 10px;
    background-color: none;
    box-shadow: none;
    margin: none;
    color: blueviolet;
    left: 0;
  }
  &:after  {
    display: none;
  }
}

div.subnav.skpsubnav nav.main ul li.is-dropdown.active {
  background: none;
  background-color: none;
  display: flex;
  flex-direction: column;
  /* border-left: 8px solid #194573; */
  border-radius: 0;
  ul.sub {
    display: flex;
    position: relative;
    padding-left: 10px;
    background-color: none;
    background: none;
    box-shadow: none;
    margin: .25rem 0 0 0;
    left: 0;
    li.active {
      a {
        color: #194573;
      }
      ul.sub {
        li {
          a {
            color: #7c9db6;
          }
          a:before {
            color: #7c9db6 !important;
          }
        }
        li.active a {
          color: #194573;
        }
      }
    }
    li a {
      color: #7c9db6;
    }
  }
  a {
    background: none;
    color: #194573;
  }
}
.subnav nav.main ul li.is-open.is-dropdown:before, .subnav nav.main ul li.is-open.is-dropdown > a:before {
  display: none !important;
}

/* div.subnav.skpsubnav {
  @media (width >= 900px) {
    padding-top: 5.6rem;
  }
} */

div.subnav.skpsubnav nav.main ul {
  transition: all .3s ease; 
  li {
    padding: 0 0 0 1.2rem;
    margin: 0 0 1rem 0;
    transition: all .3s ease; 
    a {
      font-size: 2.4rem;
      background: none;
      border: none;
      padding: 0;
      line-height: 1.25em;
      transition: all .3s ease;
      cursor: pointer;
      text-wrap: wrap;
      &:hover {
        color: #194573;
      }
    }
    &:hover {
      &:before {
        content: "";
        display: block;
        background-color: #7c9db6;
        width: 8px;
        height: 100%;
        position: absolute;
        left: -7px;
        top: 0;
        height: 100%;
        transition: all .3s ease; 
      }
      /* color: #194573;
      border-left: 8px solid #7c9db6;
      border-radius: 0;
      padding-left: 1.2rem !important; */
    }
    li, li.is-dropdown {
      padding: 0 0 0 5px;
      margin: .5rem 0 0 0;
      &:hover {
        border-left: 0;
        transform: translateX(5px);
        padding-left: 5px!important;
      }
    }
  }
  li.is-dropdown {
    padding: 0 0 0 1.2rem;
  }  
  li.active {
    background: none;
    background-color: none;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1.2rem;
    /* border-left: 8px solid #194573; */
    border-radius: 0;
    &:before {
      content: "";
      display: block;
      background-color: #194573;
      width: 8px;
      height: 100%;
      position: absolute;
      left: -7px;
      top: 0;
      height: 100%;
      transition: .3s;
    }
    a {
      color: #194573;
    }
    li.active {
      border: 0;
      padding: 0 0 0 5px;
      a:before {
        border-color: #194573 !important;
      }
    }
    li.is-dropdown {
      ul.sub {
        display: none;
      }
    }
    li.is-dropdown.active {
      ul.sub {
        display: block;
        li {
          a:before {
            height: .5rem;
            width: .5rem;
            border-radius: 50% !important;
            border: 0;
            background-color: #7c9db6 !important;
          }
        }
        li.active {
          border: 0;
          padding: 0 0 0 5px;
          a:before {
            height: .5rem;
            width: .5rem;
            border-radius: 50% !important;
            border: 0;
            background-color: #194573 !important;
          }
        }
      }
    }
    li:before {
      background-color: transparent !important;
    }
    li a {
      background: none;
      width: 100%;
      color: #194573;
      font-size: 1.9rem;
      &:before {
        content:'';
        display: block;
        width: .5rem;
        height: .5rem;
        border: solid #7c9db6;
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg) translateY(-50%);
        transition: all 0.5s ease;
        z-index: 1;
        border-radius: 0 !important;
        margin-bottom: 4px;
        position: absolute;
        left: -6px;
        top: 11px;
      }
      &:hover {
        &:before {
          border-color: #194573;
        }
      }
    }
  }
}

body.skp footer {
  background: rgba(0, 40, 80, 0.64);
  padding: 0;
  margin: 0;

  .footer {
    margin: 0;
    min-width: 100%;
  }
}

.box-shadow {
  background: white;
  border-radius: 17px;
  box-shadow: 0 8px 28px rgba(111, 145, 173, 0.25);
  padding: 23px 30px 23px;
  margin: 0;
  margin-bottom: 60px;
  strong {
    font-family: "anova-regular", sans-serif !important;
    color: var(--blue);
  }
  h2 {
    color: #007dc3;
    margin-bottom: 5px !important;
    font-size: 2.6rem !important;
    font-family: "anova-regular", sans-serif !important;
  }
  :is(p):has(+ :is(h2)) {
    margin-bottom: 1.6rem !important;
  }
  blockquote {
    padding-bottom: 1.6rem;
    margin-left: 2rem;
    :first-child:is(p, strong, h1, h2, h3, h4, h5, h6) {
      line-height: 1.2;
      color: #643695;
      font-size: var(--heading-font-size-s);
      z-index: 2;
      position: relative;
    }
    :first-child:before, :first-child:after {
      content: "";
      font-family: "Georgia", cursive;
      line-height: 0;
      font-size: 17.0rem;
      width: 0;
      height: 0;
      position: absolute;
      color: #f2f2f2;
      z-index: 1;
    }
    :first-child:is(p, h1, h2, h3, h4, h5, h6):before {
      content: '\201C';
      width: 1em;
      margin: 60px 0 0 -35px;
    }
    :first-child:is(p, h1, h2, h3, h4, h5, h6):after {
      content: '\201D';
      width: 1em;
      margin: 72px 0 0 -32px;
    }
    .quote-attribution {
      :first-child:before, :first-child:after {
        display: none;
      }
    }
    p:has(picture):before, p:has(picture):after {
      display: none !important;
    }
  }
}

.figure {
  margin-bottom: 3.2rem;
  p {
    color: #7c9db6;
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }
}

span.mjx-chtml {
  line-height: 0;
  font-size: clamp(1.3rem, 1.7vw + 1rem, 2.4rem);
}

div.video-aside {
  gap: 5%;
  margin-bottom: 2.4rem;
  div > div:nth-child(1) {
    min-width: 57.5%;
  }
  div > div:nth-child(2) {
    min-width: 37.5%;
  }
  div.left {
    padding: 0;
    width: 100%;
    p:has(span.mjx-chtml) {
      /* line-height: .25; */
      font-size: clamp(1.3rem, 1.7vw + 1rem, 1.9rem) !important;
      text-align: center !important;
    }
  }
  div.blue {
    /* border-left: 4px solid #007dc3; */
    padding: 20px;
    border-radius: 5px;
    position: relative;
    background: rgba(0, 125, 195, 0.07);
    box-sizing: border-box;
    margin: 0 0 2.4rem 3.2rem;
    width: 40%;
    height: max-content;
    color: #333333;
    strong {
      font-family: var(--font-secondary);
    }
    h3 {
      text-align: center;
      line-height: 1.25em;
      color: #333333;
      font-size: 2.2rem;
      font-family: var(--font-secondary);
    }
    a {
      word-break: break-word;
    }
    p.embed {
      padding: 1.6rem 0;
      + p {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    p.embed:has(+ p) {
      margin-bottom: 0 !important;
    }
  }
  @media (width <= 1000px) {
    div {
      div.blue {
        float: none !important;
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

.embed-wrapper {
  padding-bottom: 2.4rem !important;
  .embed {
    &.width-75 {
      text-align: left;
      width: 75%;
      margin-left: 0;
      @media (width <=900px) {
        width: 100%;
      }
    }
  }
}
.image-size-50 img {
   width: 50% !important;
}
.image-size-60 img {
  width: 60% !important;
}
.image-size-70 img {
  width: 70% !important;
}
.image-size-75 img {
  width: 75% !important;
}
.image-size-80 img {
  width: 80% !important;
}
.image-size-90 img {
  width: 90% !important;
}
.image-size-100 img {
  width: 100% !important;
}
@media (width <=900px) {
  .image-size-50, .image-size-60, .image-size-70, .image-size-80, .image-size-90, .image-size-100 {
    img {
      width: 100% !important;
    }
  }
}
