@import url("/styles/styles.css");

h1 {
  color: #194573;
  font-family: var(--font-bold) !important;
}
div.subnav.skpsubnav nav.main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  a {
    font-size: 24px;
    width: 100%;
    text-align: left;
    color: #7c9db6;
    background: none;
    border: none;
    padding: 0;
    line-height: 1.25em;
    transition: .3s;
    font-family: "anova-regular", Arial, Helvetica, sans-serif;
  }
  >li {
    border: none;
    width: 100%;
    &:before {
      content: "";
      display: block;
      background-color: #7c9db6;
      width: 8px;
      height: 100%;
      position: absolute;
      left: -7px;
      top: 0;
      height: 0;
      transition: all .3s ease; 
    }
  }
}

div.subnav.skpsubnav nav.main ul li.is-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  ul.sub {
    display: none;
    position: relative;
    padding-left: 10px;
    background-color: none;
    box-shadow: none;
    margin: none;
    color: blueviolet;
    left: 0;
  }
  &:after  {
    display: none;
  }
}

div.subnav.skpsubnav nav.main ul li.is-dropdown.active {
  background: none;
  background-color: none;
  display: flex;
  flex-direction: column;
  /* border-left: 8px solid #194573; */
  border-radius: 0;
  ul.sub {
    display: flex;
    position: relative;
    padding-left: 10px;
    background-color: none;
    background: none;
    box-shadow: none;
    margin: .25rem 0 0 0;
    left: 0;
    li.active {
      a {
        color: #194573;
      }
    }
    li a {
      color: #7c9db6;
    }
  }
  a {
    background: none;
    color: #194573;
  }
}

div.subnav.skpsubnav nav.main ul {
  transition: all .3s ease; 
  li {
    padding: 0 0 0 1.2rem;
    margin: 0 0 1rem 0;
    transition: all .3s ease; 
    a {
      font-size: 1.9rem;
      background: none;
      border: none;
      padding: 0;
      line-height: 1.25em;
      transition: all .3s ease;
      cursor: pointer;
      text-wrap: wrap;
      &:hover {
        color: #194573;
      }
    }
    &:hover {
      &:before {
        content: "";
        display: block;
        background-color: #7c9db6;
        width: 8px;
        height: 100%;
        position: absolute;
        left: -7px;
        top: 0;
        height: 100%;
        transition: all .3s ease; 
      }
      /* color: #194573;
      border-left: 8px solid #7c9db6;
      border-radius: 0;
      padding-left: 1.2rem !important; */
    }
    li {
      padding: 0 0 0 5px;
      margin: .5rem 0 0 0;
      &:hover {
        border-left: 0;
        transform: translateX(5px);
        padding-left: 5px!important;
      }
    }
  }
  li.is-dropdown {
    padding: 0 0 0 1.2rem;
  }  
  li.active {
    background: none;
    background-color: none;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1.2rem;
    /* border-left: 8px solid #194573; */
    border-radius: 0;
    &:before {
      content: "";
      display: block;
      background-color: #194573;
      width: 8px;
      height: 100%;
      position: absolute;
      left: -7px;
      top: 0;
      height: 100%;
      transition: .3s;
    }
    a {
      color: #194573;
    }
    li.active {
      border: 0;
      padding: 0 0 0 5px;
      a:before {
        border-color: #194573;
      }
    }
    li:before {
      background-color: transparent !important;
    }
    li a {
      background: none;
      width: 100%;
      color: #194573;
      font-size: 1.6rem;
      &:before {
        content:'';
        display: block;
        width: .5rem;
        height: .5rem;
        border: solid #7c9db6;
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg) translateY(-50%);
        transition: all 0.5s ease;
        z-index: 1;
        border-radius: 0 !important;
        margin-bottom: 4px;
        position: absolute;
        left: -6px;
        top: 8px;
      }
      &:hover {
        &:before {
          border-color: #194573;
        }
      }
    }
  }
}

body.skp footer {
  background: rgba(0, 40, 80, 0.64);
  padding: 0;
  margin: 0;

  .footer {
    margin: 0;
    min-width: 100%;
  }
}
