/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: relative;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'utility hamburger' var(--nav-height) / 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);

  --border-color: var(--clr-gray-light);
}

@media (min-width: 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  header nav {
    justify-content: space-between;
    padding: 0;
    grid-template:
    'utility' 64px 
    'sections' 92px / 1fr;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--clr-brand-red);
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  min-width: 0;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
  transition: transform .5s ease;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 175px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav .nav-sections ul > li {
  font-weight: 700;
  font-size: var(--body-font-size-xs);
  padding-block: 1rem;
}

header nav .nav-sections > ul > li {
  border-bottom: 1px solid var(--border-color);
}

header nav .nav-sections ul > li span:hover {
  color: var(--clr-brand-red);
}

header nav .nav-sections ul li a:hover {
  color: var(--clr-brand-red);
  text-decoration: none;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 600;
  font-size: var(--body-font-size-xxs);
}

header nav[aria-expanded="true"] .nav-sections.nav-sections-mobile {
  display: block;
  visibility: visible;
}

.nav-sections-mobile.drop-expanded > ul > li:not([aria-expanded="true"]) {
  display: none;
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
    padding: 0 2rem;
  }

  header nav .nav-sections ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  header nav .nav-sections > ul > li {
    border-bottom: none;
    font-weight: 600;
    font-size: var(--body-font-size-s);
    padding: 0;
  }

  header nav .nav-sections > ul > li[aria-current="page"] > a {
    border-bottom: 0.25rem solid var(--clr-primary);
  }

  header nav .nav-sections ul > li > ul > li {
    font-weight: 400;
    font-size: var(--body-font-size-l);
    padding: 0;
  }
}

@media (min-width: 1200px) {
  header nav .nav-sections ul {
    gap: 3rem;
  }

  header nav .nav-sections > ul > li {
    font-size: var(--body-font-size-l);
  }
}


/* utility row */
header nav .nav-utility-row {
  grid-area: utility;
}

@media (min-width: 900px) {
  header nav .nav-utility-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid var(--border-color);
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
  visibility: hidden;
}

header nav .nav-tools ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: var(--body-font-size-xxs);
  position: relative;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-tools ul > li {
  font-weight: 600;
  padding-block: 1rem;
}

header nav[aria-expanded="true"] .nav-tools.nav-tools-mobile {
  display: block;
  visibility: visible;
}

header nav .nav-tools .search-item {
  border-bottom: 1px solid var(--border-color);
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-tools .search-item a {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-between;
}

header nav .nav-tools .fa-icon {
  color: var(--clr-brand-red);
  padding-inline-end: 8px;
}

@media (min-width: 900px) {
  header nav .nav-tools {
    display: block;
    visibility: visible;
  }

  header nav .nav-tools ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  header nav .nav-tools ul > li { 
    font-weight: 400;
    font-size: var(--body-font-size-s);
  }

  header nav .nav-tools .search-item {
    border-bottom: none;
  }

  header nav .nav-tools .search-item a {
    flex-direction: row;
  }
}

/* nav-drops, applies to both sections and tools */
header nav .nav-drop {
  padding-right: 16px;
}

header nav .nav-tools .nav-drop {
  position: relative;
  display: block
}

header nav .nav-drop > ul {
  display: block;
  visibility: hidden;
  max-height: 0;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  padding-inline-start: 1.5rem;
}

header nav .nav-drop[aria-expanded="true"] > ul {
  display: block;
  visibility: visible;
  border-top: 1px solid var(--border-color);
  height: 100dvh;
  max-height: unset;
  transform: translateX(0);
}

header nav .nav-tools .nav-drop[aria-expanded="true"] > ul {
  border-top: none;
  height: max-content;
  max-height: unset;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-drop > ul > li {
  font-weight: 600;
}

header nav .nav-drop .nav-section-heading {
  position: relative;
  display: block;
  cursor: pointer;
}

header nav .nav-sections .nav-drop[aria-expanded="true"] .nav-section-heading {
  padding-inline-start: 24px;
  padding-block-end: 1rem;
}

header nav .nav-drop .nav-section-heading::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border: 2px solid var(--clr-brand-red);
  border-width: 2px 2px 0 0;
}

header nav .nav-tools .nav-drop .nav-section-heading::after {
  transition: transform .3s ease-in-out;
}

header nav .nav-sections .nav-drop[aria-expanded="true"] .nav-section-heading::after {
  top: 0;
  left: 2px;
  transform: rotate(225deg);
}

header nav .nav-tools .nav-drop[aria-expanded="true"] .nav-section-heading::after {
  transform: rotate(135deg) translateY(12px);
}

@media (min-width: 900px) {
  header nav .nav-drop > ul {
    display: none;
  }
  
  header nav .nav-sections .nav-drop[aria-expanded="true"] .nav-section-heading {
    padding: 0;
  }

  header nav .nav-drop .nav-section-heading::after {
    content: unset;
  }

  header nav .nav-drop[aria-expanded="true"] {
    position: relative;
  }

  header nav .nav-drop[aria-expanded="true"] > ul {
    transform: unset;
    background-color: var(--background-color);
    height: auto;
    border-top: none;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 25%);
    padding: 3rem;
    position: absolute;
    top: 65px;
    z-index: 2;
    min-width: 175px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  header nav .nav-drop:last-child[aria-expanded="true"] > ul {
    right: 0;
  }

  header nav .nav-drop > ul > li {
    font-weight: 400;
    font-size: var(--body-font-size-l);
  }
}

/* nav mobile menu */
header nav .nav-mobile-menu {
  position: absolute;
  top: var(--nav-height);
  right: 0;
  left: 0;
  background-color: var(--background-color);
  padding: 0 1rem;
  transform: translateX(-100%);
  min-height: 100dvh;
  border-top: 2px solid var(--border-color);
}

@media (max-width: 899px) {
  header nav[aria-expanded="true"] .nav-mobile-menu {
    transform: translateX(0);
    transition: transform .3s ease-in-out;
  }
}

@media (min-width: 900px) {
  header nav .nav-mobile-menu {
    display: none;
  }
}

/*** Search ***/
@media (min-width: 900px) {
  header .search-form-container .search-form {
    position: absolute;
    background-color: var(--clr-gray-light);
    padding: 10px;
    z-index: 2; 
  }
}