.vertical-spacer.height-8 {
  height: 8px;
}
.vertical-spacer.height-16 {
  height: 16px;
}
.vertical-spacer.height-24 {
  height: 24px;
}
.vertical-spacer.height-32 {
  height: 32px;
}
.vertical-spacer.height-40 {
  height: 40px;
}
.vertical-spacer.height-48 {
  height: 48px;
}
.vertical-spacer.height-56 {
  height: 56px;
}
.vertical-spacer.height-64 {
  height: 64px;
}
.vertical-spacer.height-72 {
  height: 72px;
}
.vertical-spacer.height-80 {
  height: 80px;
}
.vertical-spacer.height-88 {
  height: 88px;
}
.vertical-spacer.height-96 {
  height: 96px;
}
.vertical-spacer.height-104 {
  height: 104px;
}
