main .hero-container > div {
  min-width: 100%;
}
main .hero-container {
  padding: 0;
  text-align: center;
}
.hero {
  padding: 32px 32px 50px 32px;
  min-height: 250px;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
}
.button-group p {
  display: inline-block;
  margin: 3% 3% 0 0;
}
.cta-center {
  opacity: 1;
  color: white;
  text-align: center;
  min-height: 275px;
  h3 {
    text-align: center;
  }
  .button-group {
    text-align: center;
    p {
      display: inline-block;
      margin: 1%;
    }
  }
  a.button {
    background: white;
    color: #0378cd;
    border: none;
  }
}
.hero-section {
  min-height: 250px;
  overflow: hidden;
  display: none;
  .background-img {
    position: absolute;
    min-width: 100%;
    z-index: 1;
    object-fit: cover;
    margin: -65px;
    img {
      min-width: 105%;
      opacity: .5;
    }
  }
  picture {
    position: relative;
    margin: 20px auto;
    display: block;
  }
}
/*
.button {
  text-align: center;
  background: #ffffff;
  border: 1px solid #A3A3A3;
  border-radius: 35px;
  min-width: 100%;
  padding: 0%;
  margin: 0 auto;
  box-sizing: content-box;
}
.button:hover {
  background: #ededed;
}
  */
/* -- dark and light button stylin -- */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}
a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}
a.button.secondary, button.secondary {
  background-color: unset;
  color: var(--text-color)
}
a {
  background: transparent;
}
.button {
  display: inline-block;
  background-color: #f47723;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 10px 0;
  cursor: pointer;
  line-height: 2;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
/* Dark Button */
.dark-button-center {
  a.button {
    text-align: center;
    background: #00002200;
    border: 2px solid #ffffff;
    border-radius: 8px;
    min-width: 200px;
    margin: 0 auto;
    box-sizing: content-box;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    position: relative;
    z-index: 1;
  }
  a.button:hover {
    color: #fcfcfc;
    background: #00003333;
    border: 2px solid black;
    min-width: 200px;
  }
}
/* Orange centered button */
.orange-general-center .button-container {
  text-align: center;
  a.button:any-link {
    background-color: #f47723;
    color: white;
    text-decoration: none;
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 200px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    margin: 0 auto;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #f47723;
    ;
  }
}
/* default button */
.default-button .button-container {
  text-align: center;
  a.button:any-link {
    background-color: #007dc3;
    color: white;
    text-decoration: none;
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 200px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    margin: 0 auto;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #007dc3;
    ;
  }
}
/* light button */
.light-button {
  a.button:any-link {
    background-color: #007dc3;
    color: white;
    border: 2px solid transparent;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #007dc3;
    ;
  }
}
/* dark button */
.dark-button {
  a.button:any-link {
    background-color: #f47723;
    color: white;
    border: 2px solid transparent;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #f47723;
    ;
  }
}