main .hero-container > div {
  max-width: unset;
}

.hero-wrapper {
  background: linear-gradient(45deg, #643695 35%, #f47723 90%);
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.jmp-branding {
  background: linear-gradient(45deg, #007dc3 15%, #643695 95%);
  opacity: 1;

  h1 {
    color: white;
  }
  
}
