main .hero-container > div {
  min-width: 100%;
}
main .hero-container {
  padding: 0;
  text-align: center;
}
.hero {
  padding: 32px 32px 50px 32px;
  min-height: 250px;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
}
.button-group p {
  display: inline-block;
  margin: 3% 3% 0 0;
}
.cta-center {
  opacity: 1;
  color: white;
  text-align: center;
  min-height: 275px;
  h3 {
    text-align: center;
  }
  .button-group {
    text-align: center;
    p {
      display: inline-block;
      margin: 1%;
    }
  }
  a.button {
    background: white;
    color: #0378cd;
    border: none;
  }
}
.hero-section {
  min-height: 250px;
  overflow: hidden;
  display: none;
  .background-img {
    position: absolute;
    min-width: 100%;
    z-index: 1;
    object-fit: cover;
    margin: -65px;
    img {
      min-width: 105%;
      opacity: .5;
    }
  }
  picture {
    position: relative;
    margin: 20px auto;
    display: block;
  }
}
