.section:has(div.subnav) {
  background-color: #f5f5f5;
}
.section:has(div.resource-nav) {
  background-color: #f5f5f5;
  border-bottom: none;
}

.section:has(div.resource-center-nav-container) {
  background-color: #f5f5f5;
  border-bottom: none;
  border-bottom: 1px solid #999999;
}

.resource-center-nav-container.subnav-container.section {
  padding-top: 20px;
  padding-bottom: 40px;
  h1 {
    color: #0378cd;
  }
}

.subnav {
  display: block;
}
.subnav nav {
  position: relative;
}
.subnav nav ul {
  float: left;
  margin: .5em 0 1em 0;
  padding: 0;
  list-style: none;
}
.subnav nav ul li {
  float: left;
  margin: 0 1px 1px 0;
}
.subnav nav ul li a, .subnav nav ul li {
  background: #FFFFFF;
  background: rgb(255 255 255 / 0.9);
  display: block;
  padding: 0 15px;
  line-height: 2.75em;
}
.subnav nav ul li.active a, .subnav nav ul li.active {
  background: #FFFFFF;
}
.subnav nav ul li ul {
  display: none;
}
.subnav nav.main ul li {
  margin: 0 .5em .5em 0;
  position: relative;
}
.subnav nav.main ul li a, .subnav nav.main ul li {
  background: #ffffff;
  border: 1px solid #0378cd;
  color: #0378cd;
  padding: 0 12px;
  line-height: 2.5em;
  font-size: 1.3rem;
  border-radius: 2px;
  transition: border-color 0.5s ease, color 0.5s ease;
}
.subnav nav.main ul li.is-dropdown > a:after, .subnav nav.main ul li.is-dropdown:after {
  font-size: 90%;
  margin-left: 8px;
  transition: transform 0.5s ease, color 0.5s ease;
}
.subnav nav.main ul li.is-dropdown > a:hover:after, .subnav nav.main ul li.is-dropdown:hover:after {
  color: #ffffff;
}
.subnav nav.main ul li.active.is-dropdown > a:after, .subnav nav.main ul li.active.is-dropdown:after {
  color: #FFFFFF;
}
.subnav nav.main ul li.is-open.is-dropdown > a:after, .subnav nav.main ul li.is-open.is-dropdown:after {
  transform: scaleY(-1);
}
.subnav nav.main ul li.is-open.is-dropdown:before, .subnav nav.main ul li.is-open.is-dropdown > a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -7px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0378cd;
  transform: translateX(-50%);
  transition: border-top 0.3s ease;
}
.subnav nav.main ul li.is-open.is-dropdown > a:hover:before, .subnav nav.main ul li.is-open.is-dropdown:hover:before {
  border-top: 6px solid #ffffff;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -7px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0378cd;
  transform: translateX(-50%);
  transition: border-top 0.3s ease;
}
.subnav nav.main ul li ul li a[href*="redirect"]:after {
  color: inherit;
  width: 1em;
  margin-left: .5em;
  font-size: 90%;
  vertical-align: 0;
}
.subnav nav.main ul li ul li a {
  border: 1px solid #FFFFFF;
  border: 1px solid rgb(0 0 0 / 0);
  box-sizing: border-box;
  color: #0378cd;
  padding: .5em 1em;
  line-height: 1.5;
  white-space: nowrap;
}
.subnav nav.main ul li.active > a, .subnav nav.main ul li.active {
  background: #0378cd;
  border-color: #0378cd;
  color: #FFFFFF;
}
.subnav nav.main ul li ul li.active a {
  border: 1px solid #0378cd;
  background: #0378cd;
}
.subnav nav.main ul li.is-open.is-dropdown > a, .subnav nav.main ul li.is-open.is-dropdown {
  position: relative;
}
.subnav nav.main ul li ul li {
  display: block;
  float: none;
  margin: 0;
  width: 100%;
}
.subnav nav.main ul li ul {
  background: #FFFFFF;
  background: rgb(255 255 255 / 0.95);
  box-sizing: border-box;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 6px 6px 0 rgb(0 0 0 / 0.2);
  display: block;
  left: -9999px;
  margin-top: 8px;
  padding: .66em;
  position: absolute;
  z-index: 9;
}
.subnav nav.main ul li.is-open ul {
  display: flex;
  flex-direction: column;
  left: 0;
  width: max-content;
  li {
    border: 0;
    width: 100%;
    /* width: max-content; */
    margin: 0;
    padding: 0;
    &:hover {
      background-color: #fafafa;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
