ul.list-tile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.listgroup ul li {
  list-style-type: none;
  width: 47%;
}

a {
  text-decoration: none;
}

.image {
  float: left;
  width: 48%;
  margin: 0 20px 20px 0;
  padding-bottom: 0;
}

.title {
  color: #000;
  font-family: "anova-reg", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.6 rem;
  padding: 0 0 .25em 0;
  transition: color 0.3s ease;
}

.abstract {
  color: #000;
  font-size: .8rem;
}
