/* suppress nested section padding */
.fragment-wrapper > .section {
  padding-left: 0;
  padding-right: 0;
}

.fragment-wrapper > .section:first-of-type {
  padding-top: 0;
}

.fragment-wrapper > .section:last-of-type {
  padding-bottom: 0;
}

.section:has(div.resource-nav) {
  background-color: #fafafa;
  border-bottom: 1px solid var(--grayLight);
}

.fragment-wrapper {
  &:has(div.subnav-wrapper:is(.pillar-sub-nav)) {
    /* @media (width >= 1200px) {
      max-width: 235px;
    } */
    @media (width >= 901px) {
      position: sticky;
      top: 126px;
    }
  }
}

.fragment-wrapper:has(.pillar-sub-nav) {
  @media (width >= 901px) {
    position: sticky;
    display: block;
    top: 126px;
  }
}