.table {
  width: 100%;
  overflow-x: auto;
  margin: 2.4rem 0;
  &.table {
    td {
      border-bottom: 1px solid #999999;
      padding: 10px;
      p {
        margin-bottom: 0 !important;
      }
    }
  }
  &.agenda-table {
    margin: 1em 0 2em 0;
    border: 1px solid #E7E7E7;
    background-color: #F7F7F7;
    box-sizing: border-box;
    tr{
      vertical-align:top;
    }
    p{
      margin-bottom:0;
    }
    th {
      border: 0
    }
    td:first-child {
      width: 20%;
    }
    td {
      border: 0;
      border-bottom: 1px solid #E7E7E7;
    }
    tbody tr {
      border: 0;
    }
    :first-child > tr {
      color: var(--white);
      background-color: var(--blue);
      border: none;
      strong {
        color: #ffffff;
      }
    }
    > table thead tr, > table tbody tr {
      border-top: none;
      border-bottom: 1px solid #E7E7E7;
    }
  }
}
.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}
@media (width >=600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}
@media (width >=900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}
.table table thead tr {
  border: 1px solid;
  border-bottom: 2px solid;
  font-family: var(--font-secondary);
}
.table table tbody tr {
  border: 1px solid;
}
.table table td {
  border: 1px solid;
}
.table table th {
  font-weight: 700;
  border: 1px solid;
}
.table table th, .table table td {
  padding: 1rem;
  text-align: left;
  p {
    margin-bottom: 0;
  }
}
/* no header variant */
.table.no-header table tbody tr {
  border: 1px solid;
}
/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}
/* bordered variant */
.table.bordered table th, .table.bordered table td {
  border: 1px solid;
}
.MJXp-math {
  line-height: .25;
  font-size: clamp(1.3rem, 1.7vw + 1rem, 2.4rem);
}