.hidden {
  display: none;
}

.preform-test {
  padding: 3.2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
  width: unset;
  text-align: left !important;
  max-width: 800px;
  margin: 0;
  div.environment {
    margin-bottom: 1.6rem;
    input[type="radio"] {
      float: left;
      max-height: 1.6rem;
      height: 1.6rem !important;
      width: 1.6rem;
      margin: .5rem .5em 0 0;
      outline: none;
    }
  }
  div.salesforce-fields {
    display: block;
    flex-direction: row;
    input {
      font-family: var(--font-primary);
      width: calc(100% - 32px);
      height: 4rem;
      padding: 0 1.6rem;
      background-color: #fafafa;
      border: 1px solid var(--grayRule);
      border-radius: 5px;
      margin: .5rem 0 0 0;
      &:focus {
        background-color: #ffffff;
        outline: 1px solid var(--blue);
      }
    }
  }
  input[type="submit"] {
    cursor: pointer;
    margin-top: 2.4rem;
    margin-bottom: 0 !important;
    background-color: var(--orange);
    background-size: 200% 200%;
    /* animation: alert-gradient 5s ease-in-out infinite; */
    border-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.3;
    height: 4rem;
    width: max-content;
    border-radius: 5px;
    &:hover {
      background-color: var(--orange-hover);
      animation: alert-gradient 5s ease-in-out infinite;
    }
  }
}
