
.listgroup-events-tabs .tabs-list {
  display: flex;
  gap: 8px;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  border-bottom: 1px solid var(--grayRule);
  overflow-x: auto;
}

@media (width >= 600px) {
  .listgroup-events-tabs .tabs-list {
    font-size: var(--body-font-size-s);
    border-bottom: 1px solid var(--grayRule);
  }
}

@media (width >= 900px) {
  .listgroup-events-tabs .tabs-list {
    font-size: 1.6rem;
  }
}

.listgroup-events-tabs .tabs-list button {
  cursor: pointer;
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--grayRule);
  border-radius: 5px 5px 0 0;
  padding: 8px 16px;
  background-color: var(--gray);
  color: var(--blue);
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  border-bottom: none;
}

.listgroup-events-tabs .tabs-list button p {
  margin: 0;
}

.listgroup-events-tabs .tabs-list button[aria-selected='true'] {
  cursor: pointer;
  border-bottom: none;
  background-color: var(--blue);
  color: white;
}

.listgroup-events-tabs .tabs-panel {
  padding: 2rem 0 3.2rem 0;
  border: none;
  overflow: auto;
  @media (width <=900px) {
    padding: 2rem 0 3.2rem 0;
  }
}

.listgroup-events-tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.listgroup-events-tabs >h1, .listgroup-events-tabs >h2, .listgroup-events-tabs >h3, .listgroup-events-tabs >h4, .listgroup-events-tabs >h5, .listgroup-events-tabs >h6 {
  margin-bottom: 0.5em;
}
.listgroup-events-tabs .list-group {
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding-top: 0;
  color: orange;
}
.listgroup-events-tabs .mcl-2 ul, .listgroup-events-tabs .mcl-3 ul, .listgroup-events-tabs .mcl-4 ul, .listgroup-events-tabs .mcl-5 ul {
  float: left;
}
.listgroup-events-tabs .mcl-2 ul:last-child, .listgroup-events-tabs .mcl-3 ul:last-child, .listgroup-events-tabs .mcl-4 ul:last-child, .listgroup-events-tabs .mcl-5 ul:last-child {
  margin: 0;
}
.listgroup-events-tabs .mcl-2 {
  padding: 0 0 30px 0;
}
.listgroup-events-tabs .mcl-2 ul {
  width: 45%;
  margin-right: 5%;
}
.listgroup-events-tabs .mcl-2 ul:last-child {
  width: 45%;
}
.listgroup-events-tabs .mcl-3 ul {
  width: 30%;
  margin-right: 5%;
}
.listgroup-events-tabs .mcl-4 ul {
  width: 23%;
  margin-right: 2%;
}
.listgroup-events-tabs .mcl-5 ul {
  width: 18%;
  margin-right: 2%;
}
.listgroup-events-tabs ul {
  list-style: none;
  transition: all 0.5s ease;
}
.listgroup-events-tabs ul>li {
  margin-bottom: 1em;
  transition: all 0.5s ease;
}
.listgroup-events-tabs ul>li .primary-title {
  font-size: 110%;
}
.listgroup-events-tabs ul>li .primary-title .release-date, .listgroup-events-tabs ul>li .primary-title .meta-description, .listgroup-events-tabs ul>li .primary-title .description, .listgroup-events-tabs ul>li .primary-title .list-page-title, .listgroup-events-tabs ul>li .primary-title .alternate-listing-title, .listgroup-events-tabs ul>li .primary-title .subtitle {
  display: inline;
  font-size: 110%;
}
.listgroup-events-tabs ul>li .release-date {
  display: block;
  font-size: 80%;
}
.listgroup-events-tabs ul>li .meta-description, .listgroup-events-tabs ul>li .description {
  display: block;
  font-size: 95%;
}
.listgroup-events-tabs ul>li .list-page-title, .listgroup-events-tabs ul>li .alternate-listing-title {
  display: block;
  font-size: 80%;
  
}
.listgroup-events-tabs ul>li .subtitle {
  color: var(--gray3);
  display: inline-block;
  transition: all 0.5s ease;
  font-size: var(--body-font-size-m);
}
.listgroup-events-tabs ul>li .tag-category {
  display: block;
  text-transform: uppercase;
}
.listgroup-events-tabs ul>li .event-type {
  display: inline-block;
  margin-left: .5em;
  padding-left: .5em;
  border-left: 1px solid ;
  font-size: 90%;
  font-style: italic;
}
.listgroup-events-tabs ul>li .venue {
  display: block;
  font-size: 80%;
}
.listgroup-events-tabs ul>li .abstract-toggle {
  display: block;
  font-size: 80%;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  margin: .5em 0 0 37%;
}
.listgroup-events-tabs ul>li .abstract {
  display: block;
  max-height: inherit;
  overflow: hidden;
  margin: 0 0 10px;
  width: 96%;
  width: auto;
  font-size: 90%;
}
.listgroup-events-tabs ul>li .abstract.show {
  max-height: 1500px;
  padding: 5px 2%;
}
.listgroup-events-tabs ul>li .abstract.is-visible {
  display: block;
  overflow: visible;
  padding: 1px 0 0 150px;
  line-height: 138%;
}
#listing .listgroup-events-tabs ul>li {
  margin-bottom: 1.5em;
}
.listgroup-events-tabs ul.listOfItems {
  padding: 0;
}
.listgroup-events-tabs ul.listOfItems.list-arrow {
  padding: 5px 0 20px 0;
}
.listgroup-events-tabs ul.listOfItems.list-arrow>li:before {
  margin-left: -1.3em;
  font-size: 80%;
}
.listgroup-events-tabs ul.listOfItems.list-arrow>li p {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.listgroup-events-tabs ul.listOfItems.list-none a {
  display: block;
}
.listgroup-events-tabs ul.listOfItems.list-none.image-list a {
  display: block;
}
.listgroup-events-tabs ul.no-bullet>li {
  padding-left: 0;
}
.listgroup-events-tabs ul.no-bullet>li:before {
  display: none;
}
.listgroup-events-tabs ul.list-tile {
  margin: 0;
  position: relative;
}
.listgroup-events-tabs ul.list-tile>li {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: none;
}
.listgroup-events-tabs ul.list-tile>li:before {
  content: none;
  margin-left: 0;
}
.listgroup-events-tabs ul.list-tile>li a {
  display: block;
  position: relative;
  outline: none;
  overflow: hidden;
  padding: 2rem;
  border-radius: var(--base-radius);
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 0 0 1rem 0;
  /* width: 92%; */
  background-color: var(--gray);
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.5s ease;
  &:after {
    content:'';
    width: 2rem;
    height: 2rem;
    border: solid var(--blue);
    border-width: 0 3px 3px 0;
    position: absolute;
    top: 48%;
    transform: rotate(-45deg) translateY(-50%);
    right: 3rem;
    opacity: 0;
    transition: all 0.5s ease;
  }
  &:hover {
    border: 1px solid var(--blue);
    .subtitle, .tag-category {
      color: var(--link-hover-color);
    }
    &:after {
      right: 2rem;
      opacity: 1;
    }
  }
}
.listgroup-events-tabs ul.list-tile>li a .image {
  display: block;
  float: none;
  padding-bottom: .66em;
  text-align: center;
}
.listgroup-events-tabs ul.list-tile>li a .tag-category, .listgroup-events-tabs ul.list-tile>li a .content-type {
  color: #777777;
  position: relative;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: var(--body-font-size-xs);
  &:empty {
    display: none;
  }
  &:before {
    content: url('../../../icons/arrow-orange.svg');
    width: 7px;
    display: inline-block;
    font-size: 80%;
    margin: 0 5px 0 0;
  }
}
.listgroup-events-tabs ul.list-tile>li a .title {
  display: block;
  font-size: var(--heading-font-size-m);
  padding: 0 4rem 0 0;
}
.listgroup-events-tabs ul.list-tile>li a .abstract.is-visible {
  padding: 0;
}
.listgroup-events-tabs ul.list-bricks {
  position: relative;
}
.listgroup-events-tabs ul.list-bricks:before {
  content: '';
  width: 256px;
  height: 64px;
  opacity: 0.5;
  position: absolute;
  top: 40px;
  left: 40%;
}
.listgroup-events-tabs ul.list-bricks li {
  width: 100%;
  padding: 0;
  margin: 0;
}
.listgroup-events-tabs ul.list-bricks li a .image {
  display: block;
  width: 90%;
  float: none;
  margin: 10px 5%;
  text-align: center;
}
.listgroup-events-tabs ul.list-bricks li a .tag-category, .listgroup-events-tabs ul.list-bricks li a .content-type {
  position: absolute;
  top: 1.5em;
  left: 5%;
}
.listgroup-events-tabs .nullresults ul {
  padding-bottom: 1em;
}
.listgroup-events-tabs .nullresults ul li {
  border: none;
  padding: 0 0 0 1.1em;
}
.listgroup-events-tabs .nullresults ul li:before {
  width: 1.5em;
  margin-left: -1.5em;
}