footer {
  /* padding: 2rem; */
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
  .text-link-caret-left-light .button-container, .text-link-caret-left-light ul li {
    a:link, a:any-link, a.button:any-link {
      font-size: 1.4rem !important;
    }
  }
}

/* Simple Footer  */
footer.footer-wrapper { 
  div.footer {
    background-color: #333333;
    max-width: unset;
    div.columns-container {
      padding: 3.2rem 3.2rem 2.4rem 3.2rem;
    }
    div.copyright {
      border-top: 2px solid #eeeeee;
      border-bottom: 2px solid #eeeeee;
      height: max-content;
    }
  }
}


footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: white;
  font-size: 1.4rem;
}

div.section.copyright {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  background-color: #ffffff;
  .default-content-wrapper {
    ul {
      display: flex;
      list-style-type: none;
      flex-flow: row wrap;
      margin: 0;
      padding: 0 2rem;
      li {
        color: #333333;
        text-decoration: none;
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid #DDDDDD;
        /* padding-right: 10px; */
        a {
          color: var(--blue);
          text-decoration: underline;
          /* border-left: 1px solid #DDDDDD; */
          /* margin-left: 1em;
          padding-left: 1em; */
          &:hover {
            color: var(--link-hover-color);
            transition: .3s;
          }
        }
        &:last-child {
          border-right: none;
        }
      }
      @media (width < 900px) {
        display: block;
      }
    }
    @media (width < 900px) {
      display: block;
      ul {
        padding-left: 3.2rem;
        li {
          border-right: none;
          padding-bottom: .25rem;
          a {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}

/* .footer-wrapper {
  background-color: #333333;
} */

#back-top {
  position: fixed;
  bottom: -500px;
  right: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 501;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}
@media print {
  #back-top {
    display: none;
 }
}
#back-top a {
  cursor: pointer;
  color: transparent;
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 80px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
  &:hover {
    background-color: rgba(0,0,0,0.99);
  }
}
#back-top a:before {
  content: url('../../../icons/up-arrow-white.svg');
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  width: 60%;
  line-height: 1.5;
  font-size: 200%;
}
#back-top.is-scrolled {
  bottom: -30px;
}

.sticky-footer {
  display: block;
  position: fixed;
  transition: .4s;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background-size: 200%;
  color: white;
  left: 0;
  box-shadow: 0 0 30px rgba(0,0,0,.4);
  transform: translate3d(0,100px,0);
  pointer-events: none;
  &:before {
    content: "";
    background: rgba(0,40,80,1);
    display: block;
    position: absolute;
    inset: 0;
  }
  .columns-wrapper {
    .columns-2-cols {
      padding-bottom: 0;
    }
    .columns {
      div {
        max-width: unset;
      }
    }
  }
  &.active {
    transform: translate3d(0,0,0);
    pointer-events: all;
  }
  .button-container {
    z-index: 1000;
    margin: 2rem 0;
    p  {
      display: flex;
      justify-content: center;
    }
    &:first-child {
      border-right: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
  @media (width >= 901px) {
    .columns > div {
      gap: 0;
    }
  }
  @media (width <= 900px) {
    display: none;
  }
}

.section.sticky-footer.background-img-container {
  position: fixed;
  bottom: 0;
  padding: .5rem !important;
  .background-img-wrapper {
    z-index: 0;
    .background-img {
      picture {
        img {
          opacity: .4 !important;
        }
      }
    }
  }
  &.active {
    transform: translate3d(0,0,0);
    pointer-events: all;
  }
}

.section.skp-footer {
  .background-img-wrapper {
    .background-img {
      picture {
        img {
          opacity: .4 !important;
        }
      }
    }
  }
}
.skp-footer {
  background-color: rgba(0, 40, 80, 1);
  div.columns-container {
    padding: 0 !important;
  }
  .columns-wrapper {
    padding: 6.4rem 3.2rem 3.2rem;
    .columns {
      div {
        max-width: unset;
        gap: 5%;
        div {
          padding: 0 6.4rem;
          min-width: auto;
        }
      }
      h3 {
        font-family: var(--font-bold);
        margin-bottom: 5px !important;
        font-size: var(--heading-font-size-m);
        color: #ffffff;
      }
      h5 {
        font-size: 2.2rem;
        color: #ffffff;
        opacity: .7;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 4px solid rgba(255, 255, 255, 0.1);
      }
      p {
        margin-bottom: 2.4rem;
        line-height: 150%;
        font-size: 1.69rem;
      }
      picture {
        img {
          height: auto;
          border: 0;
          padding-bottom: 2rem;
        }
      }
    }
  }
  @media (width <= 600px) {
    .columns-wrapper {
      padding-top: 3.2rem;
    }
  }
}
