@font-face {
  font-family: "anova-regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/Anova-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "anova-light";
  font-style: normal;
  font-weight: lighter;
  font-display: swap;
  src: url('../fonts/Anova-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "anova-bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/Anova-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "sasicons-103018";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/sasicons-103018.woff2') format('woff2');
  unicode-range: U+e616, U+e619, U+e61b;
}

@font-face {
  font-family: "roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

/* Japan */
:lang(ja) { 
  font-family: "anova-regular", "Meiryo", "MS Gothic", "Hiragino Kaku Gothic Pro", sans-serif; 
  body {
    font-family: "anova-regular", "MS Gothic", "Meiryo", sans-serif;
  }
  strong {
    font-weight: 700;
  }
}
/* Korea */
:lang(ko) { 
  font-family: "anova-regular", "Malgun Gothic", sans-serif;
  body, li.nav-drop p, p {
    font-family: "anova-regular", "Malgun Gothic", sans-serif;
  }
  strong {
    font-weight: 700;
  }
}
/* China */
:lang(zh-hans), :lang(zh-hant), :lang(zh_hans), :lang(zh_hant) {
  font-family: "anova-regular", "Microsoft Yahei","微软雅黑", sans-serif;
  body {
    font-family: "anova-regular", "Microsoft Yahei","微软雅黑", sans-serif !important;
  }
  strong {
    font-weight: 700;
  }
}
