/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
/* setting rem to 10px */
html {
  font-size: 62.5%;
}
:root {
  /* colors */
  --text-color: #333333;
  --link-color: #0378cd;
  --link-hover-color: #3aaafc;
  --background-color: #ffffff;
  --overlay-background-color: #eeeeee;
  --highlight-background-color: #cccccc;
  --blue: #0378cd;
  --orange: #ff5000;
  --orange-hover: #d94500;
  --blueLight: #61CAE5;
  --purple: #643695;
  --purpleLight: #9D57A3;
  --red: #B11A29;
  --redLight: #F04B4B;
  --orangeDark: #854200;
  --green: #0D782F;
  --greenLight: #9CCB3B;
  --yellow: #FFC610;
  --teal: #007481;
  --tealLight: #3EBDAC;
  --blueDark: #002753;
  /* JMP Brand neutral */
  --white: #FFFFFF;
  --grayDark: #172328;
  --grayMedium: #44545D;
  --grayLight: #8F989E;
  --black: #000000;
  --gray3: #333333;
  --gray5: #555555;
  --gray6: #666666;
  --gray7: #777777;
  --gray9: #999999;
  --grayRule: #D0D0D0;
  /* Color variables */
  --color-primary: var(--blue);
  --color-secondary: var(--orange);
  --textColor: var(--gray3);
  --headlineColor: var(--gray);
  --linkColor: var(--color-primary);
  --error: var(--red);
  /* fonts */
  --font-primary: "anova-light", arial, helvetica, sans-serif;
  --font-secondary: "anova-regular", arial, helvetica, sans-serif;
  --font-bold: "anova-bold", arial, helvetica, sans-serif;
  --heading-font-family: "anova-light", arial, helvetica, sans-serif;
  --body-font-family: "anova-light", arial, helvetica, sans-serif;
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;
  /* body sizes */
  --body-font-size-m: clamp(1.6rem, 1vw + 1rem, 1.8rem);
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  /* sizes */
  --heading-font-size-xxl: clamp(3.2rem, 4vw + 1rem, 5rem);
  --heading-font-size-xl: clamp(2.8rem, 3vw + 1rem, 4.2rem);
  --heading-font-size-l: clamp(2.4rem, 2vw + 1rem, 3.4rem);
  --heading-font-size-m: clamp(2.1rem, 1.7vw + 1rem, 2.8rem);
  --heading-font-size-s: clamp(1.9rem, 1.7vw + 1rem, 2.3rem);
  --heading-font-size-xs: clamp(1.4rem, 1.7vw + 1rem, 1.9rem);
  /* nav height */
  --nav-height: 100px;
  /* Border Radius */
  --base-radius: 5px;
}
@font-face {
  font-family: "roboto-fallback";
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}
/* @media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
} */
body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}
body.appear {
  display: block;
}
header {
  height: var(--nav-height);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}
h1 {
  font-size: var(--heading-font-size-xxl);
  margin-bottom: 0.125em;
}
h2 {
  font-size: var(--heading-font-size-xl);
  margin-bottom: 0.25em;
}
h3 {
  font-size: var(--heading-font-size-l);
  margin-bottom: 0.5em;
}
h4 {
  font-size: var(--heading-font-size-m);
  margin-bottom: 0.5em;
}
h5 {
  font-size: var(--heading-font-size-s)
}
h6 {
  font-size: var(--heading-font-size-xs)
}
/* p {
  margin-top: 0 !important;
} */
p, dl, ol, ul, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1em;
}
/* headings + p */ :is(h1, h2, h3, h4, h5, h6):has(+ :is(p, ul, ol)) {
  padding-bottom: .5em;
}
/* H6 labels */
/* :is(h6):has(+ :is(h1, h2, h3, h4, h5)) {
  font-family: "anova-bold", sans-serif;
  color: var(--orange);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: .25rem;
} */
code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}
code {
  padding: .125em;
}
pre {
  overflow: scroll;
}
main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}
/* links

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

*/
main .section[data-layout] .layout-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .section[data-layout="50/50"] .layout-wrapper > div {
  flex: 1 50%;
}
main .section[data-layout="33/33/33"] .layout-wrapper > div {
  flex: 1 calc(33.33% - 5px);
}
main img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}
.icon img {
  height: 100%;
  width: 100%;
}
/* sections */
main .section {
  padding: 64px 16px;
}
@media (width >=600px) {
  main .section {
    padding: 64px 32px;
  }
}
@media (width >=900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}
/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
}
/* JMP Buttons */
a {
  background: transparent;
}
.button {
  display: inline-block;
  background-color: #f47723;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-size: 1.5rem;
  margin: 10px 0;
  cursor: pointer;
  line-height: 2;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
a.button:hover {
  /* npm run lint expects a modern color notation.  
  background: rgba(0, 0, 0, 40%);
  */
  background: #2f2f2f66;
}
/* Dark Button */
/*
.dark-button-center {
  a.button {
    text-align: center;
    background: #00002200;
    border: 1px solid #ffffff;
    border-radius: 8px;
    min-width: 200px;
    margin: 0 auto;
    box-sizing: content-box;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    position: relative;
    z-index: 1;
  }
  a.button:hover {
    color: #fcfcfc;
    background: #00006666;
    /* -- border: 1px solid black; -- *//*
    min-width: 200px;
  }
}
*/
.sasfont {
  a:before {
    color: #eea879;
    font-family: 'sasicons-103018' !important;
    content: '';
  }
}
.sub-capability-cards {
  ul {
    background: rgba(0 0 0 / 0.025);
    column-count: 3;
    margin: 0 0 10px;
  }
  h4 {
    font-size: 16px;
    display: block;
    margin-block: 1.33em;
    font-weight: bold;
    unicode-bidi: isolate;
  }
}
sup {
  font-size: 50%;
}
/* text alignment */
.text-center {
  h1, h2, h3, h4, h5, p {
    text-align: center;
  }
}
.text-left {
  h1, h2, h3, h4, h5, p {
    text-align: left;
  }
}
.text-right {
  h1, h2, h3, h4, h5, p {
    text-align: right;
  }
}
/* Background Colors */
div.light-gray-background {
  background-color: #f4f4f4 !important;
}
div.dark-gray-background {
  background-color: #333333;
}
/* Text Colors */
div.light-text {
  color: #f4f4f4 !important;
}
div.dark-text {
  color: #333333 !important;
}
/* Linear Gradients */
div.blue-purple-gradient {
  background: linear-gradient(45deg, #0378CD 15%, #643695 95%);
}
div.blue-orange-gradient {
  background: linear-gradient(45deg, #0378CD 15%, #F47723 95%);
}
div.teal-lightgreen-gradient {
  background: linear-gradient(45deg, #007481 15%, #9CCB3B 95%);
}
div.purple-lightred-gradient {
  background: linear-gradient(45deg, #643695 15%, #F04B4B 95%);
}
div.lightred-purple-gradient {
  background: linear-gradient(45deg, #F04B4B 15%, #643695 95%);
}
div.purple-blue-gradient {
  background: linear-gradient(45deg, #643695 15%, #0378CD 95%);
}
div.purple-lightblue-gradient {
  background: linear-gradient(45deg, #643695 15%, #61CAE5 95%);
}
div.purple-lightpurple-gradient {
  background: linear-gradient(45deg, #643695 15%, #9D57A3 95%);
}
div.purple-teal-gradient {
  background: linear-gradient(45deg, #643695 15%, #007481 95%);
}
div.purple-lightteal-gradient {
  background: linear-gradient(45deg, #643695 15%, #3EBDAC 95%);
}
div.purple-orange-gradient {
  background: linear-gradient(45deg, #643695 15%, #F47723 95%);
}
div.darkgray-orange-gradient {
  background: linear-gradient(45deg, #172328 15%, #F47723 95%);
}
div.brand-neutral-dark {
  background: linear-gradient(45deg, #242d35 15%, #44545d 95%);
  color: #ffffff;
}
div.gray {
  background: var(--grayRule);
}
/* hero section styling */
.place-background-image {
  min-height: 175px;
  overflow: hidden;
  position: relative;
  .columns > div {
    margin: 2px;
    padding: 2px;
  }
  .background-img {
    overflow: hidden;
    min-width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    img {
      min-width: 105%;
      opacity: .5;
    }
  }
  picture {
    position: relative;
    margin: 20px auto;
    display: block;
    z-index: 5;
  }
  h1, h2, h3, p {
    position: relative;
    z-index: 3;
  }
}
/* Dark Button */
.colunms :has(.button-container), .button-container {
  margin: 20px auto;
  text-align: center;
  .button-container {
    display: inline-block;
    min-width: 250px;
  }
}
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}
/* dark centered button */
.dark-button-center {
  a.button {
    background: #00002200;
    border: 2px solid #ffffff;
    border-radius: 8px;
    min-width: 200px;
    margin: 0 auto;
    box-sizing: content-box;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    position: relative;
    z-index: 1;
  }
  a.button:hover {
    color: #fcfcfc;
    background: #1e1e1e66;
    /* -- border: 1px solid black; -- */
    min-width: 200px;
  }
}
/* light centered button */
.light-button-center {
  a.button {
    background-color: #f47723;
    color: white;
    border: 2px solid #f47723;
    border-radius: 8px;
    min-width: 200px;
    margin: 0 auto;
    box-sizing: content-box;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    position: relative;
    z-index: 1;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #f47723;
    ;
  }
}
/* default button */
.default-button .button-container {
  text-align: center;
  a.button:any-link {
    background-color: #007dc3;
    color: white;
    text-decoration: none;
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 200px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    margin: 0 auto;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #007dc3;
    ;
  }
}
/* light button */
.light-button {
  a.button:any-link {
    background-color: #007dc3;
    color: white;
    border: 2px solid transparent;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #007dc3;
    ;
  }
}
/* dark button */
.dark-button {
  a.button:any-link {
    background-color: #f47723;
    color: white;
    border: 2px solid transparent;
  }
  a.button:hover {
    color: #333333;
    background: none;
    border: 2px solid #f47723;
    ;
  }
}
/* Dark inline buttons in a hero like area  */
.dark-button-inline, .text-link {
  .button-container {
    display: inline;
    margin-right: 10px;
  }
}
.text-link-center {
  .button-container {
    text-align: center;
    display: block;
    a:link {
      border: none;
      color: #ffffff;
      text-decoration: none;
      font-size: 1.8rem;
      margin: 0;
      cursor: pointer;
      line-height: 2;
      padding: 0;
      position: relative;
      z-index: 1;
      background: none;
    }
    a:hover {
      color: #f47723;
    }
    :after {
      color: #f47723;
      content: url('../../../icons/arrow-icon-orange.svg');
      width: 7px;
      display: inline-block;
      padding-left: 9px;
    }
  }
}
.text-link-left {
  .button-container {
    text-align: left;
    display: block;
    margin: 0;
    .button, a:link {
      border: none;
      /*  color: var(--link-color); */
      text-decoration: none;
      font-size: 1.8rem;
      margin: 0;
      cursor: pointer;
      line-height: 2;
      padding: 0;
      position: relative;
      z-index: 1;
      background: none;
      color: #0378cd;
    }
    a:hover {
      color: #f47723;
    }
    :after {
      color: #f47723;
      content: url('../../../icons/arrow-icon-orange.svg');
      width: 7px;
      display: inline-block;
      padding-left: 9px;
    }
  }
}
.text-link .button-container, .text-link-dark .button-container {
  margin: 0;
  a:link {
    border: none;
    color: #0378cd;
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0;
    cursor: pointer;
    line-height: 2;
    padding: 0;
    position: relative;
    z-index: 1;
    background: none;
  }
  a:hover {
    color: black;
  }
  :after {
    color: #f47723;
    content: url('../../../icons/arrow-icon-orange.svg');
    width: 7px;
    display: inline-block;
    padding-left: 9px;
  }
}

.dark-button-inline {
  a.button {
    background: #00002200;
    border: 2px solid #ffffff;
    border-radius: 8px;
    min-width: 200px;
    margin: 0 auto;
    box-sizing: content-box;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    position: relative;
    z-index: 1;
  }
  a.button:hover {
    color: #fcfcfc;
    background: #21212133;
    border: 2px solid black;
    min-width: 200px;
  }
}
/* Styleing to compact the sections padding  */
.section.compact-s, .compact-s {
  padding-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 0 auto -20 auto;
}
.section.compact-m, .compact-m {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section.compact-l, .compact-l {
  padding-top: 60px;
  padding-bottom: 40px;
}

/*  Icons size scaling */
.icon-scale-xs, .icon-scale-s, .icon-scale-m, .icon-scale-l {
  margin: 25 auto 0;
  display: block;
@media only screen and (max-width: 600px) {
  max-width: 150px;
  margin: 1.5em 0 auto;
}
}
.icon-scale-xs {
  img {
    max-width: 50px;
  }
}
.icon-scale-s {
  img {
    max-width: 100px;
  }
}
.icon-scale-m {
  img {
    max-width: 200px;
  }
}
.icon-scale-l {
  img {
    max-width: 350px;
  }
}



/* Styling for the ROI block */
.roi-colors {
  h2, h3, h4, h5 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h3, div, p {
    align-items: center;
    margin: .5em auto 0 auto;
    padding: 10px auto;
    color: #ffffff;
    max-width: 1280px;
  }
  h5 {
    color: #888888;
  }
  h2 {
    font-size: 6.8rem;
  }
  div:nth-child(1) {
    color: #f5ba55;
  }
  div > div:nth-child(2) {
    border: 1px solid #69757d;
    color: #3ebdac;
    border-top: none;
    border-bottom: none;
    padding: 20px 10px;
    @media only screen and (max-width: 600px) {
      border: none;
    }
  }
  div > div:nth-child(3) {
    color: #c479ba;
  }
}
/* Column layouts */
div.columns-50-50 {
  .layout-wrapper {
    .group-1 {
      width: 50%;
    }
    .group-2 {
      width: 50%;
    }
  }
}
div.columns-60-40 {
  .layout-wrapper {
    .group-1 {
      width: 60%;
    }
    .group-2 {
      width: 40%;
    }
  }
}
div.columns-40-60 {
  .layout-wrapper {
    .group-1 {
      width: 40%;
    }
    .group-2 {
      width: 60%;
    }
  }
}
div.columns-66-33 {
  .layout-wrapper {
    .group-1 {
      width: 66%;
    }
    .group-2 {
      width: 33%;
    }
  }
}
div.columns-33-66 {
  .layout-wrapper {
    .group-1 {
      width: 33%;
    }
    .group-2 {
      width: 66%;
    }
  }
}
div.columns-25-75 {
  .layout-wrapper {
    .group-1 {
      width: 25%;
    }
    .group-2 {
      width: 75%;
    }
  }
}
div.columns-75-25 {
  .layout-wrapper {
    .group-1 {
      width: 75%;
    }
    .group-2 {
      width: 25%;
    }
  }
}
/* column brakpoints - max-width tablet 900px */
div.columns-50-50, div.columns-25-75, div.columns-75-25, div.columns-60-40, div.columns-40-60, div.columns-66-33, div.columns-33-66 {
  @media (width <=900px) {
    .layout-wrapper {
      display: block !important;
      .group-1 {
        display: block;
        width: auto;
      }
      .group-2 {
        display: block;
        width: 100%;
      }
    }
  }
}
/* Resource Center Articles */
div.success-story-body {
  .layout-wrapper {
    column-gap: 64px !important;
    .group-1 {
      h4 {
        color: var(--purple);
        font-family: var(--font-secondary);
        font-size: 1.6rem;
      }
    }
  }
  @media (width <=900px) {
    .layout-wrapper {
      display: block !important;
      .group-1 {
        display: block;
        width: auto;
        margin: 0 0 40px 0;
        padding: 20px;
        border: 1px solid #d0d0d0;
        background-color: #f4f4f4;
        border-radius: var(--base-radius);
      }
    }
  }
}
/* Styling for G2 badges */
.g2-badge-6, .g2-badge-4 {
  .columns-wrapper {
    position: relative;
    z-index: 1;
    .columns > div {
      flex-direction: inherit;
    }
  }
}
.g2-badge-4 {
  .columns-wrapper {
    max-width: 60%;
    .columns > div > div {
      max-width: 20%;
      margin: 0 auto;
    }
    @media (width <=900px) {
      max-width: 100%;
    }
  }
}