name: Update Index Configuration File
on:
  workflow_dispatch:

jobs:
  updateConfig:
    environment:
      name: main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Read YAML file
        uses: pietrobolcato/action-read-yaml@1.0.0
        id: yaml_read
        with:
          config: ${{ github.workspace }}/configurations/query.yaml
      - name: Run Script
        id: update-script
        env:
          AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
        uses: actions/github-script@v7
        with:
          script: |
            console.log('${{ steps.yaml_read.outputs['indices'] }}');
            const { default: sendPostRequest } = await import('${{ github.workspace }}/scripts/update-configs.mjs')

            const response = await sendPostRequest(process.env.AUTH_TOKEN, configPath, 'query.yaml')
            console.log(response);
            return response
          result-encoding: string

