name: Update Index Configuration File
on:
  workflow_dispatch:

jobs:
  updateConfig:
    environment:
      name: main
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Read YAML file
        uses: actions/yaml-read@v1
        id: yaml_read
        with:
          file: .github/configurations/query.yaml
      - name: Use output later
        run: echo "The value is $${{ steps.yaml_read.outputs }}"
      - name: Run Script
        id: update-script
        env:
          AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
        uses: actions/github-script@v7
        with:
          script: |
            const configPath = '${{ github.workspace}}/configurations/query.yaml';
            const { default: sendPostRequest } = await import('${{ github.workspace }}/scripts/update-configs.mjs')

            const response = await sendPostRequest(process.env.AUTH_TOKEN, configPath, 'query.yaml')
            console.log(response);
            return response
          result-encoding: string

